// image
.img-wrap
  margin: 0 auto
  text-align: center
  border-radius: 2px
  overflow: hidden
  .img-bg
    width: 100%
  .image-caption
    display: block
    margin: .5rem auto
    font-size: 13px
    color: $color-meta
    &:empty
      display: none