div.note
  $border-codeblock = 4px
  bg($c)
    return mix($c, $card-color, 10)
  border($c)
    return mix($c, $card-color, 100)
  position: relative
  margin-top: $gap-p
  margin-bottom: $gap-p
  padding: $gap
  padding-left: "calc(16px + %s)" % $gap
  border-radius: $border-codeblock
  font-size: $fontsize-list
  h2,
  h3,
  h4,
  h5,
  h6
    if $note-icons
      margin-top: 3px
    else
      margin-top: 0

    margin-bottom: 0
    padding-top: 0 !important
    border-bottom: initial

  p,
  ul,
  ol,
  blockquote,
  img
    margin-top: $gap-p * 0.5
    margin-bottom: $gap-p * 0.5
  .link-card
    background: var(--card-color)
  &::before
    position: absolute
    top: "calc(50% - %s * 0.5)" % (24px)
    left 4px
    width: 24px
    height: 24px
    text-align: center
    font-weight: 600
    line-height: 24px
    vertical-align: middle
    font-family: 'Font Awesome 5 Free'

  background: var(--color-block)
  border-left: $border-codeblock solid $theme-color
  &::before
    color: $theme-color
    content: '\f054'
  &::before
    content: '\f054'

  &.quote
    background: bg($note-color-blue)
    border-color: border($note-color-blue)
    &::before
      color: border($note-color-blue)
      content: '\f10d'
  &.info
    background: bg($theme-color)
    border-color: border($theme-color)
    &::before
      color: border($theme-color)
      content: '\f129'
  &.success,&.done
    background: bg($note-color-mac-green)
    border-color: border($note-color-mac-green)
    &::before
      color: border($note-color-mac-green)
      content: '\f00c'
  &.warning
    background: bg($note-color-mac-yellow)
    border-color: border($note-color-mac-yellow)
    &::before
      color: border($note-color-mac-yellow)
      content: '\f12a'
  &.danger,&.error
    background: bg($note-color-mac-red)
    border-color: border($note-color-mac-red)
    &::before
      color: border($note-color-mac-red)
      content: '\f00d'
  &.radiation::before
    content: '\f7b9'
  &.bug::before
    content: '\f188'
  &.idea::before
    content: '\f0eb'
  &.link::before
    content: '\f0c1'
  &.paperclip::before
    content: '\f0c6'
  &.todo::before
    content: '\f0ae'
  &.message::before
    content: '\f4ad'
  &.guide::before
    content: '\f277'
  &.download::before
    content: '\f019'
  &.up::before
    content: '\f102'
  &.undo::before
    content: '\f2ea'
  &.play::before
    content: '\f144'


  &.clear
    background: none
    border-color: none
  &.light
    background: mix($text-color, $card-color, 5)
    border-color: mix($text-color, $card-color, 50)
    &::before
      color: mix($text-color, $card-color, 50)
  &.gray
    background: mix($text-color, $card-color, 5)
    border-color: mix($text-color, $card-color, 80)
    &::before
      color: mix($text-color, $card-color, 80)
  &.theme
    background: bg($theme-color)
    border-color: border($theme-color)
    &::before
      color: border($theme-color)
  &.red
    background: bg($note-color-mac-red)
    border-color: border($note-color-mac-red)
    &::before
      color: border($note-color-mac-red)
  &.yellow
    background: bg($note-color-mac-yellow)
    border-color: border($note-color-mac-yellow)
    &::before
      color: border($note-color-mac-yellow)
  &.green
    background: bg($note-color-mac-green)
    border-color: border($note-color-mac-green)
    &::before
      color: border($note-color-mac-green)
  &.cyan
    background: bg($note-color-mac-cyan)
    border-color: border($note-color-mac-cyan)
    &::before
      color: border($note-color-mac-cyan)
  &.blue
    background: bg($note-color-blue)
    border-color: border($note-color-blue)
    &::before
      color: border($note-color-blue)