.table-plugin {
  & tbody tr {
    transition: background-color;
    transition-ease();
    
    &:nth-of-type(odd) {
      background-color: var(--color-gray-250);
    }

    &:hover {
      background-color: var(--color-gray-300);
    }
  }
}
