// table
.table-plugin {
  tr {
    transition: background-color .2s ease;

    &:nth-of-type(even) {
      background-color: var(--color-gray-150);
    }

    &:hover {
      background-color: var(--color-gray-200);
    }
  }

  th,
  td {
    min-width: 5rem;
  }
}

// blocktable
.table-wrap
  margin: 0 auto
  text-align: center
  border-radius: 2px
  overflow: hidden
  .table-caption
    display: block
    margin: .5rem auto
    font-size: 13px
    color: $meta-color
    &:empty
      display: none