// -------- 这些是方便开发预定义的颜色，不需要动态改变 --------
$color-md-red = #f44336
$color-md-pink = #E91E63
$color-md-purple = #9c27b0
$color-md-deep-purple = #673ab7
$color-md-indigo = #3f51b5
$color-md-light-blue = #4BA7EE
$color-md-blue = #2196f3
$color-md-deep-blue = #3367d6
$color-md-teal = #009688
$color-md-green = #4caf50
$color-md-light-green = #8bc34a
$color-md-orange = #ff9800
$color-md-deep-orange = #ff5722
$color-md-brown = #795548
$color-md-blue-grey = #607d8b
$color-md-grey = #9e9e9e
$color-md-light-grey =#e0e0e0
$color-md-yellow = #FCEC60
$color-md-amber = #F6C344

$color-mac-cyan = #1BCDFC
$color-mac-green = #3DC550
$color-mac-yellow = #FFBD2B
$color-mac-red = #FE5F58

$color-google-blue = #4688F1
$color-google-green = #3AA757
$color-google-yellow = #FABB2D
$color-google-red = #E8453C

$color-read-bkg = #e0d8c8
$color-read-post = #f8f1e2


// common
$color-theme = #44D7B6
$color-link = #1b79c4
$color-button = #44D7B6
$color-hover = #ff5722
$color-inner = #fff
$color-selection = alpha(#2196f3, 0.2)


// -------- 动态配色方案 --------
// 默认浅色
$color-site-bg = #f4f4f4
$color-site-inner = #fff
$color-site-footer = #666
$color-card = #fff
$color-text = #444

$color-block = #f6f6f6
$color-codeblock = #FFF7EA
$color-inlinecode = #c74f00
$color-h1 = #3a3a3a
$color-h2 = #3a3a3a
$color-h3 = #333
$color-h4 = #444
$color-h5 = #555
$color-h6 = #666
$color-p = #444
$color-list = #666
$color-list-hl = mix($color-theme, #000, 80)
$color-meta = #888

// tag plugin from stellar : color
// 浅色页面
$c-site-bg-light = #f8f8f8
$c-block-light = #f2f2f2
$c-title-light = #000
$c-text-light = #222
$c-card-light = white

// 深色页面
$c-site-bg-dark = black
$c-block-dark = #111
$c-title-dark = #fff
$c-text-dark = #fff
$c-card-dark = #333

// device defines
$device-mobile-s = 320px
$device-mobile-m = 375px
$device-mobile-l = 425px
$device-mobile = 500px
$device-tablet = 768px
$device-laptop = 1024px
$device-desktop = 1440px
$device-2k = 2048px
$device-4k = 2560px
$device-mobile = 500px


// site layout
$layout-width = 1080px
$sidebar = 240px
$modal-threshold = 680px
$navbar-height = 64px

// gap
$gap = 16px // base gap
$gap-h2 = 48px
$gap-h3 = 32px
$gap-h4 = 16px
// 新的段落间距，以实际字体大小为基准
$gap-p = 1em



// border width
$border-line = 2px

// border radius
$border-card = 12px
$border-codeblock = 4px
$border-searchbar = 8px
$border-button = 2px

// text align
$textalign-h1 = left
$textalign-h2 = left
$textalign-h3 = left
$textalign-h4 = left
$textalign-p = justify

// font
$fontsize-code = .8125rem  // 13px