div.search-mask

div.search-popup
  span.search-close
  div.search-input

  include ./assist-btns.pug

  div.search-results
    div#algolia-hits

  div#algolia-pagination

  if theme.algolia_search.labels.show_stats
    div#algolia-stats
