{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": "standard",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "CONFIG": "readonly",
    "instantsearch": "readonly",
    "debounce": "readonly",
    "throttle": "readonly",
    "isMobile": "readonly",
    "codeToKeyCode": "readonly",
    "popAlert": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
