{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": "standard",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "debounce": false,
    "throttle": false,
    "isMobile": false,
    "codeToKeyCode": false,
    "popAlert": false,
    "instantsearch": false,
    "GLOBAL_CONFIG": false
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
