### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# vuepress build output
**/.vuepress/dist/

# Temporary folders
tmp/
temp/

### VisualStudioCode ###
.vscode/*

### MacOS ###
# General
.DS_Store
