#back-top
  display: none
  position: fixed
  bottom: 5vh
  right: 2rem

.back-top-inner
  transform: rotate(-45deg)

  .icon-back-top
    font-size: 1.5rem
    color: $blue-light
    transition: color .15s

    &:hover
      color: $orange-dark
      cursor: pointer
