#footer
  background-color: $gray-dark
  background-attachment: fixed
  background-position: bottom
  background-size: cover

  if (hexo-config('footer.bg_image.enable'))
    background-image: url(hexo-config('footer.bg_image.url') || ' ')

  a
    clearAStyle()
    color: $footer-link-color

    &:hover
      color: $footer-link-hover-color

.footer-inner
  padding: 1rem
  font-size: $font-footer-base
  text-align: center
  color: $footer-text-color

  .footer-separator
    margin: 0 .3rem

  .heart-beat
    font-size: .9em
    animation: footer-heart-beat 1.4s infinite
