if (hexo-config('header.height') && match('%', hexo-config('header.height')))
  $header-height = unit(convert(hexo-config('header.height')), 'vh')
else
  $header-height = convert(hexo-config('header.height') || '80vh')

#header
  position: relative
  height: $header-height
  font-size: $font-header-base
  background-color: $gray-dark
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  background-size: cover
  transition: height .5s

$header-nav-color
  .header-nav-menu a,
  .header-nav-search
    color: $header-nav-link-color

    &:hover
      color: $header-nav-link-hover-color

      &::before,
      &::after
        color: $header-nav-link-hover-color

if (hexo-config('header.nav_height') && match('%', hexo-config('header.nav_height')))
  $header-nav-height = unit(convert(hexo-config('header.nav_height')), 'vh')
else
  $header-nav-height = convert(hexo-config('header.nav_height') || '50px')

.header-nav
  position: fixed
  top: 0
  z-index: $z-index1
  width: 100%
  height: $header-nav-height
  transition: background-color .3s
  animation-duration: .3s
  animation-timing-function: ease
  animation-fill-mode: both

  &.fixed
    background-color: alpha($header-nav-bg-color, .5)
    @extend $header-nav-color

  &.slider-down
    animation-name: header-sliderDown

  &.slider-up
    animation-name: header-sliderUp

.header-nav-inner
  position: relative
  margin: 0 auto
  padding: 0 1rem
  height: 100%
  @extend $header-nav-color

  i
    margin-right: .3rem

$header-nav-item
  padding: 0 .5rem
  height: 100%
  line-height: $header-nav-height

.header-nav-menu
  display: inline-block
  height: 100%
  transition: opacity .5s

  &-icon
    display: none
    color: $header-nav-link-color
    @extend $header-nav-item

  span
    float: left
    margin: 0 1rem 0 0

    &:last-child
      margin: 0

  a
    clearAStyle()
    display: block
    text-decoration: none
    transition: color .2s ease
    @extend $header-nav-item

  &.show
    visibility: visible
    opacity: 1

.header-nav-search
  float: right
  transition: color .2s ease
  @extend $header-nav-item

  &:hover
    cursor: pointer

.header-info
  position: relative
  height: 100%
  text-align: center

  if (hexo-config('header.mask.enable'))
    background-color: alpha(#000, hexo-config('header.mask.opacity'))

.header-info-inner
  display: inline-block
  position: absolute
  top: 50%
  left: 0
  padding: 0 .5rem
  width: 100%
  transform: translateY(-50%)

.header-info-title
  margin-bottom: .5rem
  font-size: 4rem
  font-weight: $font-weight-bolder
  line-height: 4rem
  color: #f9f9f9
  transition: font-size .3s

.header-info-subtitle
  font-size: 1.1rem
  font-weight: $font-weight-normal
  color: #f9f9f9
  transition: font-size .3s
