#container
  display: flex
  min-height: 100vh
  flex-direction: column

#main
  margin-bottom: 3rem
  flex: 1 auto

.main-inner
  margin: 0 auto

$content-position
  margin: 0 auto
if (hexo-config('sidebar.enable'))
  if (hexo-config('sidebar.float') == 'left')
    $content-position
      float: right
  else
    $content-position
      float: left

.home-content
  font-size: $font-main-base
  @extend $content-position

  img
    max-width: 100%
