setUlStyle(content, hoverColor)
  &::before
    content: content
    position: absolute
    top: .04em
    left: -1.5em
    line-height: $line-height-base
    color: $ul-list-color
    transition: color .2s ease
    transform: scale(.6)
    @extend $font-face-awesome

  &:hover
    &::before
      color: hoverColor

#container
  overflow: hidden
  min-height: 100vh

#main
  margin: 1.5rem 0

.main-inner
  margin: 0 auto
  width: calc(100% - 2rem)

.headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    position: relative
    font-weight: $font-weight-bolder
    line-height: $line-height-h
    color: lighten($h-color, 15%)
    cursor: pointer

    if ($icon-h-link)
      &:not(.post-title)::after
        content: $icon-h-link
        height: 100%
        line-height: $line-height-h
        color: $h-link-logo-color
        opacity: 0
        transition: opacity .1s ease
        @extend $font-face-awesome

    &:hover
      &::after
        opacity: 1

  for size in 1 .. 6
    h{size}
      font-size: $h-font-size[size - 1]

      &::after
        margin-left: .8rem - .1 * size

.content
  border-radius: 5px
  padding: 1.5rem 2rem
  font-size: $font-main-base
  background-color: $white

  if (hexo-config('sidebar.enable'))
    width: calc(100% - 320px)

    if (hexo-config('sidebar.position') == 'left')
      float: right
    else
      float: left
  else
    margin: 0 auto
    width: calc(100% - 200px)

  a
    word-wrap: break-word
    word-break: break-word

  img
    max-width: 100%
    vertical-align: bottom

  ul,
  ol
    margin: .5rem 0
    padding-left: 2em

  li
    position: relative

    if ($icon-ul-list-1 && ($icon-ul-list-2 && $icon-ul-list-3))
      list-style-type: none

  ul
    li
      setUlStyle($icon-ul-list-1, $ul-list-hover-color)

      ul
        li
          setUlStyle($icon-ul-list-2, $ul-list-hover-color)

          ul
            li
              setUlStyle($icon-ul-list-3, $ul-list-hover-color)

  ol
    counter-reset: ol-li

    & > li
      &::before
        content: counter(ol-li) '.'
        position: absolute
        left: -1.5em
        text-align: right
        color: $blue-light
        counter-increment: ol-li

  blockquote
    margin: 0 0 1rem

    & > :first-child
      margin-top: 0

    & > :last-child
      margin-bottom: 0

    & + blockquote
      padding-top: 0

    figure
      margin-top: 0
      margin-bottom: 0

    cite
      &::before
        content: '--'
        padding: 0 .2em

  iframe
    max-width: 100%

.home-content
  @extend .headings
  padding: 0
  background-color: transparent
