.stun-message
  position: fixed
  top: 1rem
  left: 50%
  z-index: $z-index2
  transform: translateX(-50%)

.stun-alert
  position: relative
  border-radius: 3px
  padding: 8px 12px
  font-size: $font-size-large
  line-height: 1rem
  color: $black-light
  background-color: #fff
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15)

  &-success
    color: $alert-success

    & ~ i
      color: $alert-success

  &-info
    color: $alert-info

    & ~ i
      color: $alert-info

  &-warning
    color: $alert-warning

    & ~ i
      color: $alert-warning

  &-error
    color: $alert-error

    & ~ i
      color: $alert-error

  &-description
    margin-left: .5rem
