setUlStyle(content, hoverColor)
  &::before
    content: content
    position: absolute
    top: .04em
    left: -1.5em
    line-height: $line-height-base
    color: $ul-list-color
    transition: color .2s ease
    transform: scale(.6)
    @extend $font-face

  &:hover
    &::before
      color: hoverColor

$content-layout
  border-radius: 5px
  padding: 2rem
  font-size: $font-main-base
  background-color: $white
  @extend $content-position

  & > :first-child
    margin-top: 0

  & > :last-child
    margin-bottom: 0

.main-content-layout
  @extend $content-layout

$text_vertical_align_with_img = convert(
  hexo-config('text_vertical_align_with_img') || 'bottom')

.main-content
  @extend $content-layout

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    &:not(.post-title)
      position: relative
      margin: 1.5rem 0 1rem
      font-weight: $font-weight-bolder
      line-height: $line-height-h
      color: lighten($h-color, 15%)
      cursor: pointer

      if ($icon-h-link)
        &:not(.post-title)::after
          content: $icon-h-link
          height: 100%
          line-height: $line-height-h
          color: $h-link-logo-color
          opacity: 0
          transition: opacity .1s ease
          @extend $font-face

      &:hover
        &::after
          opacity: 1

  for size in 1 .. 6
    h{size}
      font-size: $h-font-size[size - 1]

      &::after
        margin-left: .8rem - .1 * size

  img
    max-width: 100%
    vertical-align: $text_vertical_align_with_img

  ul,
  ol
    margin: .5rem 0
    padding-left: 2em

  li
    position: relative

    if ($icon-ul-list-1 is defined && ($icon-ul-list-2 is defined && ($icon-ul-list-3 is defined)))
      list-style-type: none

  ul
    li
      setUlStyle($icon-ul-list-1, $ul-list-hover-color)

      ul
        li
          setUlStyle($icon-ul-list-2, $ul-list-hover-color)

          ul
            li
              setUlStyle($icon-ul-list-3, $ul-list-hover-color)

  ol
    counter-reset: ol-li

    & > li
      &::before
        content: counter(ol-li) '.'
        position: absolute
        left: -1.5em
        text-align: right
        color: $blue-light
        counter-increment: ol-li

  blockquote
    margin: 0 0 1rem

    & > :first-child
      margin-top: 0

    & > :last-child
      margin-bottom: 0

    & + blockquote
      padding-top: 0

    figure
      margin-top: 0
      margin-bottom: 0

    cite
      &::before
        content: '--'
        padding: 0 .2em

  table
    border-spacing: 0
    border-collapse: collapse
    margin: 0 auto 1rem
    min-width: 100%

    th,
    td
      border: 1px solid #eee

.archive-inner,
.category-inner,
.tag-inner
  position: relative
  margin-left: 2rem

  &::before
    content: ''
    position: absolute
    top: $font-main-base
    bottom: $font-main-base
    left: 0
    border-left: .2rem solid $archives-left-line-color
    transform: translate(-50%, 0)

.article-sort-title
  position: relative
  margin-bottom: 1.3rem
  padding-left: 1.4rem
  font-size: $font-main-base

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: $z-index-2
    border: .25rem solid $archives-left-dot-color
    border-radius: 50%
    width: 1rem
    height: 1rem
    line-height: 1.2rem
    background-color: $white
    transform: translate(-50%, -50%)

.tag-cloud,
.category
  a
    clearAStyle()

  &-title
    padding: 0 0 1.8rem
    font-size: $font-post-title
    text-align: center
    cursor: default

.tag-cloud
  text-align: center

  a
    margin: 0 .4rem

    &:hover
      color: $tags-hover-color !important

.category
  a
    color: $categories-link-color

    &:hover
      color: $categories-link-hover-color

  .category-list-item
    &::before
      color: $categories-list-dot-color

    &:hover
      &::before
        color: $categories-list-dot-hover-color

  .category-list-count
    padding-left: .3em
    font-size: $font-size-base
    color: $categories-post-count-color

    &::before
      content: '('

    &::after
      content: ')'
