#paginator
  overflow: hidden
  margin-top: 1em
  width: 100%
  font-size: 1.2em
  text-align: center

  .paginator-inner
    border-radius: 5px
    padding: .7em 0
    background-color: $white

  a.page-number
    border-bottom: 0
    height: 100%
    font-family: $font-icon-family
    color: $pagination-item-color
    background-color: $pagination-item-bg-color
    transition: all .2s ease

    &:hover
      color: $pagination-item-hover-color
      background-color: $pagination-item-hover-bg-color

  .space,
  .page-number
    display: inline-block
    border-radius: 3px
    width: 1.5em
    height: 1.5em
    line-height: 1.5em
    vertical-align: middle

  .page-number
    margin: 0 .5em

  .space
    margin: 0 .2em

  .current
    color: $pagination-item-active-color
    background-color: $pagination-item-active-bg-color

  .icon-left-arrow,
  .icon-right-arrow
    font-family: $font-icon-family
    font-style: normal

  a.prev,
  a.next
    border-bottom: 0
    vertical-align: middle
    color: $pagination-arrow-color

    &:hover
      color: $pagination-arrow-hover-color

  a.prev
    margin-right: 1em

  a.next
    margin-left: 1em

  .icon-left-arrow
    &::before
      content: $icon-prev

  .icon-right-arrow
    &::after
      content: $icon-next

  // paginator after post
  // -------------------------
  .post-paginator
    overflow: hidden
    border-top: 1px solid #e8e8e8
    padding-top: 2em

  .article-prev,
  .article-next
    a
      border-bottom: 0
      color: $pagination-arrow-color

      &::before,
      &::after
        font-family: $font-icon-family

      &:hover
        color: $pagination-arrow-hover-color

  .article-prev a
    &::before
      content: $icon-prev
      margin-right: .5em

  .article-next a
    &::after
      content: $icon-next
      margin-left: .5em

  .pull-left
    float: left

  .pull-right
    float: right
