#reward
  display: flex
  flex-direction: column

.reward-button
  margin: 1rem auto 1.5rem
  border-radius: 10px
  padding: .2rem 1rem
  color: $white-light
  background-color: $reward-btn-color
  transition: background-color .2s
  cursor: pointer
  justify-content: center

  &:hover
    background-color: $reward-btn-hover-color

.reward-qr
  display: flex

  &-alipay,
  &-wechat
    margin: 0 auto
    text-align: center
    justify-content: center

    img
      width: 200px
      height: 200px

  &-alipay-text,
  &-wechat-text
    margin: .5rem 0

  &-alipay-text
    color: $reward-alipay-color

  &-wechat-text
    color: $reward-wechat-color

  &.qr-hide
    display: none

  &.qr-show
    display: flex
