$sidebar-float = convert(
  hexo-config('sidebar.position') || 'right')
$sidebar-width = convert(
  hexo-config('sidebar.width') || '300px')

#sidebar
  float: $sidebar-float
  width: $sidebar-width
  font-size: $font-sidebar-base

$sidebar-top = convert(
  hexo-config('sidebar.offsetTop') || '30px')

.sidebar-inner
  border-radius: 5px
  padding: 1rem
  width: $sidebar-width
  background-color: $white

  &.sticky
    position: fixed
    top: $sidebar-top

  .hide
    display: none

.sidebar-nav
  padding-bottom: 1em
  text-align: center

  &-toc,
  &-overview
    border-bottom: 1px solid #fff
    padding: .3em .5em
    color: $sidebar-nav-text-color
    transition: all .2s

    &:hover
      color: $sidebar-nav-text-hover-color
      cursor: pointer

  .current
    border-color: $sidebar-nav-text-hover-color
    color: $sidebar-nav-text-hover-color

if (hexo-config('toc.wrap'))
  $toc-word-break
    white-space: normal
    word-break: break-all
else
  $toc-word-break
    white-space: nowrap
    word-break: normal

.sidebar-toc
  overflow: auto
  max-height: 50vh
  @extend $toc-word-break
  
  ol,
  li
    list-style: none

  ol
    margin: 0
    padding-left: 1em

$avatar-rounded = 0
if (hexo-config('author.avatar.rounded'))
  $avatar-rounded = 50%

$avatar-opacity = hexo-config('author.avatar.opacity') || 1
$avatar-animation = 'avatar-' + convert(
  hexo-config('author.avatar.animation') || 'turn')
$text-align = convert(
  hexo-config('social_setting.text_align') || 'center')

.sidebar-overview
  .sidebar-author
    display: flex
    width: 100%
    flex-direction: column

    &-avatar
      margin: 0 auto
      border-radius: $avatar-rounded
      padding: 0
      width: 150px
      height: 150px
      opacity: $avatar-opacity

      &:hover
        animation: $avatar-animation .8s both ease-out

    &-motto
      margin: .5rem 0 0
      font-weight: $font-weight-bold
      text-align: center

  .sidebar-social,
  .sidebar-feed,
  .sidebar-state,
  .sidebar-cc
    a
      border-bottom: 0

    if (hexo-config('sidebar.horizon_line'))
      &:not(:last-child)
        border-bottom: 1px dashed #e6e6e6

  .sidebar-social
    display: flex
    overflow: hidden
    margin: 0 auto
    padding: .5rem 0
    text-align: center
    flex-wrap: wrap
    justify-content: $text-align

    &-item
      margin: .2rem
      border-radius: 1px
      text-align: center
      transition: background-color .3s
      flex: 0 0 auto

      a
        display: block

      i
        display: inline

      if (hexo-config('social_setting.icon_only'))
        background-color: $sidebar-social-color
        border-radius: 50%
        line-height: 1.5rem

        &:hover
          background-color: $sidebar-social-hover-color

        a
          width: 1.5rem
          height: 1.5rem

        i,
        span
          color: #fff
      else
        background-color: #fff

        a
          padding: 0 .2rem

        i,
        span
          margin: 0 .2rem
          color: #999

        i
          width: 1.2rem
        
        &:hover
          background-color: $sidebar-social-color

          i,
          span
            color: #fff

  .sidebar-feed
    display: flex
    padding: .5rem 0
    text-align: center
    justify-content: center

    &-icon
      margin-right: .3em

    &-email,
    &-rss
      margin: 0 auto

      span
        margin: 0 .15em

    &-email > a
      color: $sidebar-feed-email-color

    &-rss > a
      color: $sidebar-feed-rss-color

  .sidebar-state
    display: flex
    padding: .5rem 0
    flex-wrap: wrap
    justify-content: center

    &-item
      margin-right: .5rem
      border-right: 1px solid #eee
      padding-right: .5rem
      line-height: 1.6em
      text-align: center

      &:last-child
        margin: 0
        border: 0
        padding: 0

      &-count
        font-weight: $font-weight-bold
        color: $black-dark

    &-posts > a
      color: $sidebar-state-post-color

    &-categories > a
      color: $sidebar-state-category-color

    &-tags > a
      color: $sidebar-state-tag-color

  .sidebar-cc
    padding: .5rem 0
    text-align: center

    img
      border-width: 0
      padding: 0

  & > :last-child
    margin-bottom: 0
    padding-bottom: 0

  & > :first-child
    margin-top: 0
    padding-top: 0

$reading_progress_color = convert(
  hexo-config('reading_progress.color') || '$blue-light')
$reading_progress_height = convert(
  hexo-config('reading_progress.height') || '1px')

.sidebar-progress
  margin-top: .5em
  text-align: center

  &-read
    margin-bottom: .3em

    span
      margin: 0 .1em

  &-line
    width: 0
    height: $reading_progress_height
    background-color: $reading_progress_color
