$sidebar-width = convert(hexo-config('sidebar.width') || '300px')

#sidebar
  float: convert(hexo-config('sidebar.position') || 'right')
  width: $sidebar-width

.sidebar-inner
  border-radius: 5px
  padding: 1rem
  width: $sidebar-width
  font-size: $font-sidebar-base
  background-color: $white

  &.sticky
    position: fixed
    top: convert(hexo-config('sidebar.offsetTop') || '30px')
    z-index: $z-index0

  .hide
    display: none

.sidebar-nav
  padding-bottom: 1em
  text-align: center

  &-toc,
  &-overview
    border-bottom: 1px solid #fff
    padding: .3em .5em
    color: $sidebar-nav-text-color
    transition: opacity .2s

    &:hover
      color: $sidebar-nav-text-hover-color
      cursor: pointer

  .current
    border-color: $sidebar-nav-text-hover-color
    color: $sidebar-nav-text-hover-color

if (hexo-config('toc.wrap'))
  $toc-word-break
    white-space: normal
    word-break: break-all
else
  $toc-word-break
    white-space: nowrap
    word-break: normal

.sidebar-toc
  overflow: auto
  position: relative
  max-height: 70vh
  @extend $toc-word-break

  if (!hexo-config('toc.expand_all'))
    .toc .toc-child
      display: none

    .toc .active > .toc-child
      display: block

    .toc .current > .toc-child
      display: block

  .active,
  .current
    & > a
      color: $orange-dark
      transition: color .3s

  ol,
  li
    list-style: none

  ol
    margin: 0
    padding-left: 1em

if (hexo-config('author.avatar.rounded'))
  $avatar-rounded = 50%
else
  $avatar-rounded = 0

$avatar-opacity = hexo-config('author.avatar.opacity') || 1
$avatar-animation = 'avatar-' + convert(hexo-config('author.avatar.animation') || 'turn')

.sidebar-overview
  .sidebar-author
    width: 100%
    text-align: center

    &-avatar
      clearImgStyle()
      border-radius: $avatar-rounded
      width: 150px
      height: 150px
      opacity: $avatar-opacity

      &:hover
        animation: $avatar-animation .8s both ease-out

    &-motto
      margin: 0
      font-weight: $font-weight-bold

  .sidebar-social,
  .sidebar-feed,
  .sidebar-state,
  .sidebar-cc
    a
      clearAStyle()

    if (hexo-config('sidebar.horizon_line'))
      &:not(:last-child)
        border-bottom: 1px dashed #e6e6e6

  .sidebar-social
    padding: .5rem 0
    text-align: center

    &-item
      display: inline-block
      margin: .2rem
      border-radius: 1px
      text-align: center
      transition: background-color .3s

      a
        display: inline-block

      i
        display: inline

      if (hexo-config('social_setting.icon_only'))
        border-radius: 50%
        line-height: 1.5rem
        background-color: $sidebar-social-color

        &:hover
          background-color: $sidebar-social-hover-color

        a
          width: 1.5rem
          height: 1.5rem

        i,
        span
          color: #fff
      else
        background-color: #fff

        a
          padding: 0 .2rem

        i,
        span
          margin: 0 .2rem
          color: #999

        i
          width: 1.2rem

        &:hover
          background-color: $sidebar-social-color

          i,
          span
            color: #fff

  .sidebar-feed
    padding: .5rem 0
    text-align: center

    &-icon
      margin-right: .3em

    &-email,
    &-rss
      display: inline-block
      width: 50%

    &-email > a
      color: $sidebar-feed-email-color

    &-rss > a
      color: $sidebar-feed-rss-color

  .sidebar-state
    padding: .5rem 0

    &-item
      display: inline-block
      border-right: 1px solid #eee
      width: 33.3%
      line-height: 1.6em
      text-align: center

      &:last-child
        margin: 0
        border: 0
        padding: 0

      &-count
        font-weight: $font-weight-bold
        color: $black-dark

    &-posts > a
      color: $sidebar-state-post-color

    &-categories > a
      color: $sidebar-state-category-color

    &-tags > a
      color: $sidebar-state-tag-color

  .sidebar-cc
    padding-top: .5rem
    text-align: center

    img
      clearImgStyle()

.sidebar-progress
  margin-top: .5em
  text-align: center

  &-read
    margin-bottom: .3em

    span
      margin: 0 .1em

  &-line
    width: 0
    height: convert(hexo-config('reading_progress.height') || '1px')
    background-color: convert(hexo-config('reading_progress.color') || '$blue-light')
