-
  var instantsearch_js = "https://cdn.jsdelivr.net/npm/instantsearch.js@2.1.1/dist/instantsearch.min.js"
  if (theme.cdn.instantsearch_js) instantsearch_js = theme.cdn.instantsearch_js

script(src=instantsearch_js defer)
