{# Built-in Hexo helper #}
{% if theme.site_meta.open_graph %}
  {{ open_graph() }}
{% endif %}

{# Custom Hexo helper #}
{% if theme.site_meta.canonical %}
  {{ canonical() }}
{% endif %}

{# Exports some Front-Matter variables to Front-End #}
<script{{ pjax }} class="page-configurations">
  CONFIG.page = {
    isHome : {{ is_home() }},
    isPost : {{ is_post() }},
    lang   : '{{ page.lang }}'
  };
</script>