if theme.gitment && theme.gitment.enable
  div#comments.comments.main-content-layout
    if theme.gitment.lazy
      div#gitment-button(onclick="showGitment()")
        != _p("comment.gitment.button")
      div#gitment-container(style="display: none")
    else
      div#gitment-container
else if theme.gitalk && theme.gitalk.enable
  div#comments.comments.main-content-layout
    div#gitalk-container
else if theme.livere && theme.livere.enable
  div#comments.comments.main-content-layout
    div#lv-container(data-id="city" data-uid=theme.livere.uid)
