if theme.gitment && theme.gitment.enable
  div#comments.comments.main-content-layout
    if theme.gitment.lazy
      div#gitment-button(onclick="showGitment()")
        != _p("comment.gitment.button")
      div#gitment-container(style="display: none")
    else
      div#gitment-container
