section#recent-posts
  - let postLists = theme.post_list_paged.home ? page.posts : site.posts
  - postLists.each(function (post) {
    article.post-item
      +postHeader(post)

      if post.top
        include ./sticky-top.pug

      if theme.auto_excerpt && theme.auto_excerpt.enable
        - const content = strip_html(post.content)
        - let excerpt = content.substring(0, theme.auto_excerpt.length)
        - content.length > theme.auto_excerpt.length ? excerpt += '......' : ''
        div!= excerpt
      else
        div.post-excerpt!= post.excerpt
      
      div.post-btn
        a(href=url_for(post.path))= _p("post.read_more") + " »"
  - })
