section#recent-posts
  if page.posts.length > 0
    //- show 10 articles in the home page
    each post in page.posts.sort("date", -1).limit(10).toArray()
      article.post-item
        +postHeader(post)

        if theme.auto_excerpt && theme.auto_excerpt.enable
          - const content = strip_html(post.content)
          - let excerpt = content.substring(0, theme.auto_excerpt.length)
          - content.length > theme.auto_excerpt.length ? excerpt += '......' : ''
          div!= excerpt
        else
          div.post-excerpt!= post.excerpt
        
        div.post-btn
          a(href=url_for(post.path))= _p("post.read_more") + " »"
