script(src=theme.google_adsense.js_src async='')&attributes(dataPjax)
script&attributes(dataPjax).
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: '!{ theme.google_adsense.client }',
    enable_page_level_ads: !{ theme.google_adsense.enable_page_level_ads }
  });
