script(src=theme.google_adsense.js_src async)
script.
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: '!{theme.google_adsense.client}',
    enable_page_level_ads: !{theme.google_adsense.enable_page_level_ads}
  });
