if theme.math.enable
  - var isHomeHasMath = false;

  if is_home()
    - page.posts.each(function (post) {
      if post.math && !isHomeHasMath
        - isHomeHasMath = true
    - })

  if !is_tag() && !is_category() && !is_archive()
    if isHomeHasMath || (theme.math.per_page || page.math)
      if theme.math.engine === "katex"
        link(href=theme.math.katex.cdn rel="stylesheet" type="text/css")

        if theme.math.katex.copy_tex.enable
          if theme.math.katex.copy_tex.copy_tex_css
            link(href=theme.math.katex.copy_tex.copy_tex_css rel="stylesheet" type="text/css")
