div.algolia-mask

div.algolia-popup
  div.algolia-input-wrapper
  span.algolia-close
    i.fa.fa-times
  
  div.algolia-results
    div#algolia-hits
  
  div#algolia-pagination
  
  if theme.algolia_search.labels.show_stats
    div#algolia-stats
