div.localsearch-mask

div.localsearch-popup
  div.localsearch-input-wrapper
    input(placeholder= _p("local_search.input_placeholder"))
  span.localsearch-close
    i.fa.fa-times

  div.localsearch-result
