mixin multiMenu(menu)
  each value, name in (menu || {})
    if name && value
      - var item = value.split("||")
      - var menuPath = _.trim(_.get(item, "[0]"))
      - var menuIcon = _.trim(_.get(item, "[1]"))
      - var isSubMenu = false
      if menuPath.toLowerCase() === 'javascript:;'
        - isSubMenu = true
      div.menu-item
        a(href=menuPath ? menuPath : "/").menu-item-inner
          if !theme.menu_settings.text_only && !!menuIcon
            i(class=`fa fa-${menuIcon}`)
          if !theme.menu_settings.icon_only
            != _p(`nav.${name}`)
        if isSubMenu
          div.header-nav-submenu
            +multiMenu(theme.submenu[name])
