mixin postSort(posts)
  section.archive-post
    - var year, tmpYear
    - posts.each(function (post) {
      if post.date
        - tmpYear = full_date(post.date, "YYYY")

      if tmpYear !== year
        - year = tmpYear
        time.archive-post-item.year= year

      post.archive-post-item
        if post.date
          time.archive-post-item__time= full_date(post.date, "MM-DD")
          h2.archive-post-item-title
            if post.link
              a.archive-post-item-title__a(href=url_for(post.link) target="_blank" rel="noopener")= post.title || post.link
            else
              a.archive-post-item-title__a(href=url_for(post.path))= post.title || _p("post.untitled")

        if post.top
          include ../_partials/widgets/sticky-top.pug
    - })
