mixin articleSort(posts)
  section.article-sort
    - var year, tmpYear
    - posts.each(function (post) {
      if post.date
        - tmpYear = full_date(post.date, "YYYY")
      
      if tmpYear !== year
        - year = tmpYear
        time.article-sort-item.year= year
      
      post.article-sort-item
        if post.date
          time.article-sort-item__time= full_date(post.date, "MM-DD")
          h2.article-sort-item__title
            if post.link
              a(href=url_for(post.link) target="_blank" rel="noopener")= post.title || post.link
            else
              a(href=url_for(post.path))= post.title || _p('post.untitled')

        if post.top
          include ../_components/sticky-top.pug
    - })
