@import './common.styl' if (hexo-config('algolia_search.enable') || hexo-config('local_search.enable'));
@import './algolia.styl' if (hexo-config('algolia_search.enable'));
@import './localsearch.styl' if (hexo-config('local_search.enable'));
