.search-input {
  input {
    width: 100%;
  }
}

search-results-height = search-popup-padding * 2 + search-input-padding * 2 + search-input-height;

.search-results {
  max-height: 'calc(80vh - %s)' % search-results-height;

  b {
    border-bottom: 1px dashed $red-dark;
    color: $red-dark;
    transition-property: color;
    transition-ease();
  }

  & > ul {
    margin: 0;
    padding-left: 1.4rem;

    li {
      &:not(:last-child) {
        margin-bottom: 1rem;

        &::after {
          content: '';
          display: block;
          border-bottom: 1px dashed $gray-light;
          padding-bottom: .5rem;
          width: 100%;
        }
      }
    }
  }

  &-title {
    font-weight: $font-weight-bold;
    color: $black-dark;
    transition-property: color;
    transition-ease();

    &:hover {
      color: $blue-light;

      b {
        color: $blue-light;
      }
    }
  }

  &-content {
    overflow: hidden;
    width: 100%;
    max-height: 5rem;
    color: $black-light;
  }

  &-none {
    font-size: 3rem;
    text-align: center;
    color: $gray-dark;
  }
}
