// avatar animation
// ----------------------------------------
if (hexo-config('author.enable')) {
  if (hexo-config('author.avatar.animation') == 'shake') {
    @keyframes avatar-shake {
      0% {
        transform: scale(1);
      }

      10%,
      20% {
        transform: scale(.9) rotate(3deg);
      }

      30%,
      50%,
      70%,
      90% {
        transform: scale(1.1) rotate(-3deg);
      }

      40%,
      60%,
      80% {
        transform: scale(1.1) rotate(3deg);
      }

      100% {
        transform: scale(1);
      }
    }
  } else if (hexo-config('author.avatar.animation') == 'turn') {
    @keyframes avatar-turn {
      100% {
        transform: rotate(1turn);
      }
    }
  }
}

// footer heart beat animation
// ----------------------------------------
if (hexo-config('footer.icon.enable') && hexo-config('footer.icon.animation')) {
  @keyframes footer-heart-beat {
    0% {
      transform: scale(1);
    }

    15% {
      transform: scale(1.2);
    }

    30% {
      transform: scale(1);
    }

    45% {
      transform: scale(1.2);
    }
  }
}
