doctype html
html(lang=config.language)
  head
    != partial('./_partials/head/head.pug', null, { cache: theme.cache })
  body
    div#container.container
      header#header.header
        div.header-inner
          != partial('./_partials/header/header.pug', null, { cache: theme.cache })

      main#main.main
        div.main-inner
          div#content.content
            div.content-inner(class=`${is_home() ? 'content-home' : ''}`)
              block content

          if page.comments
            include ./_partials/widgets/comments.pug

          aside#sidebar.sidebar
            div.sidebar-inner
              != partial('./_partials/sidebar/sidebar.pug', null, { cache: theme.cache })

          div.clearfix

      footer#footer.footer
        div.footer-inner
          != partial('./_partials/footer/footer.pug', null, { cache: theme.cache })

      include ./_partials/widgets/loading-bar.pug

      if theme.back2top.enable
        include ./_partials/widgets/back2top.pug

    //- include ../_components/search/index.pug

    //- include ../_scripts/vendors.pug
    //- include ../_third-party/search/index.pug

    //- if theme.pjax && theme.pjax.enable
    //-   include ../_third-party/pjax.pug

    //-   div#pjax-reload
    //-     include ../_third-party/math/index.pug
    //-     include ../_third-party/quicklink.pug
    //- else
    //-   include ../_third-party/math/index.pug
    //-   include ../_third-party/quicklink.pug

    //- include ../_third-party/comments/index.pug
    //- include ../_third-party/advertising/index.pug
    //- include ../_scripts/stun.pug
