extends ./_common/layout.pug

block content
  include ./_mixins/posts-sort.pug

  div.content
    div.archive-inner
      if (site.posts.length === 0)
        div.article-sort-title= _p("page.articles-empty")
      else
        div.article-sort-title= _p("page.articles-total", site.posts.length)

      //- != console.log(page.posts)
      if theme.post_list.paginate.archives
        +articleSort(page.posts)
      else
        +articleSort(site.posts)

    if theme.post_list.paginate.archives
      include ./_components/pagination.pug
