
extends includes/layout.pug

block content
  - var archivesList = list_archives({ show_count: true })

  div.archive
    aside
      h2(id="Archives")
        a(href="#Archives") Archives
      if archivesList
        != archivesList
      else
        p None.
      hr
      - page.posts.each(function(article){
        .archive-list-item
          time.article-sort-item__time= full_date(article.date, 'YYYY-MM-DD')
          a(href=url_for(article.canonical_path))= article.title
      - })

      hr
  include ./includes/pagination.pug