
extends includes/layout.pug

block content
  include ./includes/mixins/articles-sort.pug
  - var archivesList = list_archives({ show_count: true })

  div.archive
    div.archive-inner
      if (site.posts.length === 0)
        div.article-sort-title= _p('page.articles-0')
      else
        div.article-sort-title= _p('page.articles-1', page.posts.length)

      +articleSort(page.posts)
