extends ./_layout.pug
include ./_mixins/timeline.pug

block content
  div.archive
    div.archive-total
      = site.posts.length === 0 ? __('page.posts-empty') : _p('page.posts-total', site.posts.length)

    +timeline(theme.post_list.paginate.archives ? page.posts.data : site.posts.data)
