
extends includes/layout.pug

block content
  div archive test
  - var archivesList = list_archives({ show_count: true })

  div.archive
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    aside
      h2(id="Archives")
        a(href="#Archives") Archives
      if archivesList
        != archivesList
      else
        p None.
      hr

    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
    p hello world
      //- - page.posts.each(function(article){
      //-   .archive-list-item
      //-     a(href=url_for(article.path))= article.title
      //-     time(datetime=date_xml(article.date))= date(article.date)
      //- - })
