extends ./_layout.pug

include ./_mixins/posts-sort.pug

block content
  div.category
    div.article-sort-title= __("page.categories") + " - " + page.category
    +postSort(page.posts)

    //- include ./_components/pagination.pug
