extends includes/layout.pug

block content
  #category
    h1= page.category
    - page.posts.each(function(article){
      .category-item
        a(href=url_for(article.path))= article.title
        time(datetime=date_xml(article.date))= full_date(article.date, 'YYYY-MM-DD')
    - })
  include ./includes/pagination.pug
