extends ./_layout.pug

include ./_mixins/post-timeline.pug

block content
  div.single-category
    div.single-category-name
      span= __("page.categories") + " -- "
      span= page.category

    +postTimeline(page.posts.data)

    include ./_partials/widgets/pagination.pug
