extends ./_common/layout.pug

block content
  div.content.home-content.code-highlight
    if theme.post_list.paginate.home
      include ./_components/recent-posts.pug
      include ./_components/pagination.pug
    else
      include ./_components/recent-posts.pug
