extends ./_layout.pug

block content
  if theme.post_list.paginate.home
    include ./_partials/post/recent-posts.pug
  //-   include ./_components/pagination.pug
  else
    include ./_partials/post/recent-posts.pug
