extends includes/layout.pug

block content
  include ./includes/mixins/articles-sort.pug
  include ./includes/mixins/post-header.pug

  include ./includes/components/sidebar.pug
  
  div.home-content.code-highlight
    include ./includes/components/recent-posts.pug  
    include ./includes/components/pagination.pug