extends includes/layout.pug

block content
  article#post.main-content
    div#post-header
      h1.post-title= page.title
      div.post-meta
        span.post-meta-create
          span 发表于
          span= full_date(page.date, 'YYYY-MM-DD')
        span.dot!= '&bull;'
        span.post-meta-word
          span 字数统计
          span TODO
        span.dot!= '&bull;'
        span.post-meta-read
          span 热度
          span TODO
    != page.content
  include ./includes/pagination.pug
