extends includes/layout.pug

block content
  include ./includes/aside.pug
  include ./includes/mixins/post-header.pug
  article#post.main-content
    +postHeader(page)
    div.post-body
      != page.content
    footer.post-footer
      include ./includes/pagination.pug
