extends ./_layout.pug

include ./_mixins/post-timeline.pug

block content
  div.single-tag
    div.single-tag-name
      span= __("page.tags") + " -- "
      span= page.tag

    +postTimeline(page.posts.data)

  include ./_partials/widgets/pagination.pug
