extends includes/layout.pug

block content
  include ./includes/mixins/articles-sort.pug
  div#tag
    .article-sort-title= _p('page.tag') + ' - ' + page.tag
    +articleSort(page.posts)
  include ./includes/pagination.pug
