extends ./_layout.pug

include ./_mixins/post-list.pug

block content
  div.single-tag
    div.single-tag-name
      span= __("page.tags") + " -- "
      span= page.tag

    +postList(page.posts)

  //- include ./_components/pagination.pug
