// -------------------------------------------
// Color
// -------------------------------------------

// Global color
$blue-light    = #49b1f5
$blue-lighter  = #a4d8fa
$red-dark      = #ff0000
$orange-dark   = #fc6423
$orange-light  = #ff8d5c
$yellow-dark   = #f2df17
$yellow-light  = #fff494

// Element color
// Selection ( ::selection )
$selection-bg                  = #8be0e1
$selection-color               = #fff

// Body ( <body> )
$body-bg-color                 = darken(#f4f5f5, 5%)

// Link ( <a> )
$link-color                    = #058ed2
$link-hover-color              = #11a3eb
$link-bottom-color             = transparent
$link-bottom-hover-color       = #7ebef1

// Heading ( <h1~6> )
$heading-logo-color            = $orange-dark

// Horizon line ( <hr> )
$hr-color                      = #b8dcfd

// Module color
// -------------------------------------------
// Header
$header-bg-color                   = #ffebd7
$header-text-color                 = #2d2e30
$header-nav-bg-color               = #ffebd7
$header-menu-hover-color           = $blue-light

// Footer
$footer-bg-color                   = #2d2e30
$footer-text-color                 = #f5f6f7
$footer-link-color                 = #c20808
$footer-link-hover-color           = #ed0b0b

// Home page
$home-readmore-bg-color            = #73c8ff
$home-readmore-bg-hover-color      = $blue-light

// Category page
$category-list-dot-color           = $blue-light
$category-list-dot-hover-color     = $orange-dark
$category-link-color               = $blue-light
$category-link-hover-color         = $orange-dark

// Tag page
$tag-hover-color                   = $orange-dark

// Sidebar
$card-info-nav-text-hover-color      = $orange-dark
$card-info-social-color              = #a0daff
$card-info-social-hover-color        = darken(#a0daff, 20%)
$card-info-feed-email-color          = #54bcff
$card-info-feed-rss-color            = #ff8956
$card-info-state-post-color          = #54bcff
$card-info-state-tag-color           = #ff8956

// Post
$post-update-color                 = $blue-light
$post-reading-time-color           = $blue-light
$post-reading-count-color          = $orange-dark
$post-tags-icon-color              = $blue-light

// Post timeline (In the archive/tag/category page.)
$post-timeline-line-color          = #c8edff
$post-timeline-dot-color           = #6ec5ff
$post-timeline-dot-hover-color     = $orange-dark

// Pagination
$pagination-item-active-color       = #f4f5f5
$pagination-item-active-bg-color    = $blue-light
$pagination-arrow-color             = $blue-light
$pagination-arrow-hover-color       = $orange-dark

// Reward
$reward-btn-color                  = #ff6868
$reward-btn-hover-color            = #e45c5c
$reward-alipay-color               = #1caceb
$reward-wechat-color               = #3cb034

$loading-bar-bg-color              = #77b6ff
$loading-bar-shadow-color          = alpha(#77b6ff, .7)

// Notification
$alert-success-color               = #52c41a
$alert-info-color                  = #1890ff
$alert-warning-color               = #faad14
$alert-error-color                 = #f5222d

// Note plugin
$note-default-color                = var(--color-gray-600)
$note-success-color                = #42b983
$note-info-color                   = #4898dd
$note-warning-color                = #e7c000
$note-danger-color                 = #dc3b3b