:root {
  --color-gray-100: #ffffff;
  --color-gray-150: #f9f9f9;
  --color-gray-200: #f5f6f7;
  --color-gray-250: #efefef;
  --color-gray-260: #e5e7ea;
  --color-gray-300: #dadada;
  --color-gray-400: #ccd0d5;
  --color-gray-500: #bec3c9;
  --color-gray-550: #adadad;
  --color-gray-600: #8d949e;
  --color-gray-650: #757474;
  --color-gray-700: #606770;
  --color-gray-800: #444950;
  --color-gray-850: #303846;
  --color-gray-900: #2c323c;
  --color-gray-950: #1c1e21;
  --color-font: var(--color-gray-900);
  --color-card: var(--color-gray-100);
  --color-blue-200: #ebeef5;
}

html.nightmode {
  --color-gray-100: #1c1e21;
  --color-gray-150: #2c323c;
  --color-gray-200: #303846;
  --color-gray-250: #444950;
  --color-gray-260: #555b64;
  --color-gray-300: #606770;
  --color-gray-400: #757474;
  --color-gray-500: #8d949e;
  --color-gray-550: #959595;
  --color-gray-600: #bec3c9;
  --color-gray-650: #ccd0d5;
  --color-gray-700: #dadada;
  --color-gray-800: #eaecef;
  --color-gray-850: #f5f6f7;
  --color-gray-900: #f9f9f9;
  --color-gray-950: #ffffff;
  --color-font: var(--color-gray-600);
  --color-card: var(--color-gray-150);
  --color-blue-200: #444950;
}
