// -------------------------------------------
// Layout
// -------------------------------------------
// Subtract 0.02px to prevent bugs when certain device sizes
//   are exactly equal to critical dimensions
$xs-width = 576px - 0.02px
$sm-width = 768px - 0.02px
$md-width = 992px - 0.02px
$lg-width = 1200px - 0.02px

get-main-padding() {
  $main-padding = convert(hexo-config('layout.main_padding.default'));
  $gap-left = 0;
  $gap-right = 0;

  if ($main-padding[1]) {
    $gap-right = $main-padding[1];

    if ($main-padding[3]) {
      $gap-left = $main-padding[3];
    } else {
      $gap-left = $main-padding[1];
    }
  } else {
    $gap-left = $gap-right = $main-padding[0];
  }

  return $gap-left $gap-right;
}

// Width
$main-padding-width     = get-main-padding()[0] + get-main-padding()[1]
$content-width          = convert(hexo-config('layout.content') || '$sm-width')
$sidebar-width          = convert(hexo-config('layout.sidebar') || '300px')
$content-sidebar-gap    = convert(hexo-config('layout.content_sidebar_gap') || '30px')
if (hexo-config('sidebar.enable')) {
  $main-width           = $content-width + $sidebar-width + $content-sidebar-gap + $main-padding-width
} else {
  $main-width           = $content-width + $main-padding-width
}

// volantis plugin
$border-card      = 12px
$border-codeblock = 4px
$border-searchbar = 8px
$border-button    = 2px

$gap   = 16px
$gap-p = 1em