.post {
  &-header {
    position: relative;
    margin: 0 0 1rem;
    font-size: 1em;
    text-align: center;

    &-title {
      margin: 0;
      cursor: auto;

      &__a {
        position: relative;
        color: $post-title-color;
        word-wrap();

        &::before {
          content: '';
          visibility: hidden;
          position: absolute;
          right: 0;
          bottom: -4px;
          left: 0;
          height: 2px;
          background-color: #000;
          transition-property: transform;
          transition-ease();
          transform: scaleX(0);
        }

        &:hover {
          color: $post-title-color;

          &::before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }
    }

    &-meta {
      i {
        margin-right: .2rem;
      }

      & > span {
        &:not(:first-child)::before {
          content: '•';
          margin: 0 .3rem;
          color: $black-light;
        }
      }

      if (hexo-config('post_meta.created.enable')) {
        &-create {
          color: $post-create-color;
        }
      }

      if (hexo-config('post_meta.updated.enable')) {
        &-update {
          color: $post-update-color;
        }
      }

      if (hexo-config('post_meta.reading_time.enable')) {
        &-reading-time {
          color: $post-reading-time-color;
        }
      }

      if (hexo-config('post_meta.word_count.enable')) {
        &-word-count {
          color: $post-word-count-color;
        }
      }

      if (hexo-config('busuanzi.post_pv.enable')) {
        &-reading-count {
          color: $post-reading-count-color;
        }
      }

      if (hexo-config('valine.visitor')) {
        .leancloud_visitors {
          color: $post-reading-count-color;
        }
      }
    }
  }

  if (hexo-config('post_widget.end_text.enable')) {
    &-end {
      margin: 0 0 1rem;
      padding: 1rem 0 0;
      text-align: center;
      color: $post-end-color;

      if (hexo-config('post_widget.end_text.horizon_line')) {
        border-top: 1px dashed $post-end-line-color;
      }
    }
  }

  if (hexo-config('post_widget.tags')) {
    &-tags {
      margin: 0 0 1rem;

      &-item {
        margin: 0 .5rem;

        &__i {
          margin-right: .3rem;
          color: $post-tags-icon-color;
        }

        &__a {
          transition-property: color;
          transition-ease();
        }
      }
    }
  }
}
