.post
  margin: 0 0 1.5rem
  border-radius: 5px
  padding: 1.5rem 2rem
  width: 100%
  background-color: $white

.post-excerpt
  margin-bottom: 2em

.post-btn
  text-align: center

  a
    clearAStyle()
    display: inline-block
    border-radius: 5px
    padding: 0 .6em
    color: $white
    background-color: $home-post-read-more-color
    transition: background-color .2s ease
    cursor: pointer

    &:hover
      background-color: $home-post-read-more-hover-color
