if theme.back2top.icon.animation
  script.
    $('#back-top').click(function () {
      $('#back-top').velocity({
        translateY: '-100vh',
      }, {
        duration: 500
      }).velocity('reverse', {
        duration: 10
      });
    });
