// ===========================================
// Some UI config
// ===========================================

// -------------------------------------------
// Background image for site header & footer
$header-bg-img           = '../imgs/demo/stun-bg.jpg'
$footer-bg-img           = '../imgs/demo/stun-bg.jpg'

// Header height
$header-nav-height       = 60px
$header-height           = 80vh

// -------------------------------------------
// Blur filter effect
$site-info-blur-enable   = true   // enable
$site-info-blur-level    = 5px    // blur level
$site-info-blur-spread   = -20px  // blur spread

// -------------------------------------------
// The hover animation of the site`s avatar, optional value:
// avatar-shake  // shake animation
// avatar-turn   // turn animation
$avatar-hover-animation  =  'avatar-shake'

// Config icon (disable it, just comment it)
// -------------------------------------------
$font-icon-family        = 'fontStun'

// Header nav icon
$nav-home                = $nav-home-2
$nav-archive             = $nav-archive-2
$nav-category            = $nav-category-2
$nav-tag                 = $nav-tag-2
$nav-about               = $nav-about-2
$nav-search              = $nav-search-2

// <hr> icon
$icon-hr                 = $icon-hr-plane-1

// <h1~6> icon
$icon-h-link             = $icon-h-pin

// <ul> icon
$icon-ul-list-1          = $icon-ul-list-dot
$icon-ul-list-2          = $icon-ul-list-dot-empty
$icon-ul-list-3          = $icon-ul-list-rect

// <ol> icon, optional value:
/*
  decimal               // number
  decimal-leading-zero  // add zero before number

  lower-roman
  upper-roman

  lower-greek           // only lower
  
  lower-latin
  upper-latin
*/
$icon-ol-list-style      = lower-latin

// The info icon before article
$icon-post-create-before = $icon-post-create-1
$icon-post-word-before   = $icon-post-word-1
$icon-post-read-before   = $icon-post-fire
$icon-post-read-after    = $icon-post-celsius

// prev / next icon
$icon-prev               = $icon-left-arrow
$icon-next               = $icon-right-arrow
