// ==========================================
// Global variables
// ==========================================

// Define global color
$black-light   = #666
$black-dark    = #333
$gray-light    = #c2c2c2
$gray-dark     = #888
$blue-light    = #49b1f5
$blue-lighter  = #a4d8fa
$orange-dark   = #fc6423
$orange-light  = #ff8d5c
$yellow-dark   = #f2df17
$yellow-light  = #fff494
$white         = #fff
$white-light   = #f4f5f5
$white-dark    = #e3e4e4

// Element color
// -------------------------------------------
// Selection (:selection)
$selection-bg                  = #8be0e1
$selection-color               = #fff

// Text
$font-color                    = $black-dark

// Body (<body>)
$body-bg-color                 = $white-light

// Link (<a>)
$link-color                    = #058ed2
$link-hover-color              = #11a3eb
$link-bottom-color             = #d9ecfb
$link-bottom-hover-color       = #7ebef1

// Heading (<h1~6>)
$h-link-logo-color             = $blue-light
$h-link-logo-hover-color       = #f47466
$h-color                       = #222;
$h-font-size-base              = 16px
$h-font-size = 2em 1.5em 1.125em 1em 0.875em 0.75em

// Horizon line (<hr>)
$hr-color                      = #b8dcfd
$hr-icon-color                 = #b8dcfd

// Unordered list (<ul>)
$ul-list-color                 = $blue-light
$ul-list-hover-color           = $orange-dark

// Blockquote
$quote-bg-color                = #f6f6f6
$quote-left-color              = #cbcbcb

// Code
$code-bg-color                 = #f9f2f4
$code-color                    = #c7254e

// Img    
$img-border-width              = 1px
$img-border-color              = #dadefb

// Module`s color
// -------------------------------------------
// Header
$header-nav-bg-color             = $black-dark
$header-nav-text-color           = $white-light
$header-nav-text-hover-color     = $blue-light
$header-nav-link-color           = $white-light
$header-nav-link-hover-color     = $blue-light

// Footer
$footer-text-color               = #eee
$footer-bg-color                 = #333
$footer-link-color               = #c20808
$footer-link-hover-color         = #ed0b0b

// Home page
$home-post-read-more-color       = #73c8ff
$home-post-read-more-hover-color = $blue-light

// Archives page
$archives-left-line-color        = #c8edff
$archives-left-dot-color         = #6ec5ff
$archives-left-dot-hover-color   = $orange-dark
$archives-right-time-color       = #99a9bf

// Categories page
$categories-list-dot-color       = $blue-light
$categories-list-dot-hover-color = $orange-dark
$categories-post-count-color     = #99a9bf
$categories-link-color           = $font-color
$categories-link-hover-color     = $blue-light

// Tags page
$tags-hover-color                = $orange-dark

// Sidebar
$sidebar-nav-text-color          = $font-color
$sidebar-nav-text-hover-color    = $orange-dark
$sidebar-social-color            = #a0daff
$sidebar-social-hover-color      = #64c2fe
$sidebar-feed-email-color        = #54bcff
$sidebar-feed-rss-color          = #ff8956
$sidebar-state-post-color        = #54bcff
$sidebar-state-category-color    = #5c5c5c
$sidebar-state-tag-color         = #ff8956

// Post
$post-info-title-color           = #444
$post-info-create-color          = #666
$post-info-update-color          = $blue-light
$post-info-word-count-color      = #666
$post-info-reading-time-color    = $blue-light
$post-info-reading-count-color   = $orange-dark
$post-tags-icon-color            = $blue-light

// Pagination
$pagination-item-color           = #49b1f5
$pagination-item-bg-color        = #fff
$pagination-item-hover-color     = #fff
$pagination-item-hover-bg-color  = #49b1f5
$pagination-item-active-color    = #f4f5f5
$pagination-item-active-bg-color = #49b1f5
$pagination-arrow-color          = #49b1f5
$pagination-arrow-hover-color    = $orange-dark

// Reward
$reward-btn-color                = #ff6868
$reward-btn-hover-color          = #e45c5c
$reward-alipay-color             = #1caceb
$reward-wechat-color             = #3cb034

// Notification
$alert-success                   = #52c41a
$alert-info                      = #1890ff
$alert-warning                   = #faad14
$alert-error                     = #f5222d

// -------------------------------------------
// Font, line-height
// -------------------------------------------
// Line height
$line-height-base       = 2    // global line height
$line-height-h          = 1.5  // <h1~6> line height
$line-height-code-block = 1.7  // can`t less 1.3

// Font size
$font-size-rem          = 20px // <html>
$font-size-base         = 14px // <body>
$font-size-small        = $font-size-base - 2px;
$font-size-smaller      = $font-size-base - 4px;
$font-size-large        = $font-size-base + 2px;
$font-size-larger       = $font-size-base + 4px;

// If you don`t want to bother, comment it and default value will be enable
$font-header-base       = 20px
$font-footer-base       = 14px
$font-main-base         = 14px
$font-sidebar-base      = 14px

// Font family
$font-family            = PingFang SC, Microsoft YaHei, Lato, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Helvetica Neue, Helvetica, Arial
$code-font-family       = 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace

// Font weight
$font-weight-light      = 300
$font-weight-normal     = 400
$font-weight-bold       = 600
$font-weight-bolder     = 700

// -------------------------------------------
// Icon content define
// -------------------------------------------
// All icon elements will inherit these attributes.
$font-face-awesome
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

$icon-h-link             = '\f0c1'

$icon-ul-list-1          = '\f111'
$icon-ul-list-2          = '\f10c'
$icon-ul-list-3          = '\f0c8'

$icon-hr                 = '\f0fb'

$note-default            = '\f0a9'
$note-success            = '\f058'
$note-warning            = '\f06a'
$note-danger             = '\f056'

// -------------------------------------------
// z-index list
// -------------------------------------------
$z-index-2 = -2
$z-index-1 = -1
$z-index0 = 1000
$z-index1 = 1001
$z-index2 = 1002

// -------------------------------------------
// Responsive layout
// -------------------------------------------
// Subtract 0.02px to prevent bugs when certain device sizes
//   are exactly equal to critical dimensions
$xs-width = 576px - 0.02px
$sm-width = 768px - 0.02px
$md-width = 992px - 0.02px
$lg-width = 1200px - 0.02px

// -------------------------------------------
// Layout
// -------------------------------------------
// Width
$sidebar-width         = 300px
$side-main-gap         = 20px
$content-width         = $md-width
$main-aside-gap        = $font-size-rem * 2
$main-width            = $sidebar-width + $content-width + $side-main-gap
$main-responsive-width = $main-width + $main-aside-gap
