// Global variables
// ==========================================

// -------------------------------------------
// Color
// -------------------------------------------
// Define color
$black-light  = #1f2d3d
$gray-light = #f8f8f8
$blue-light = #49b1f5

// Text
$font-color = $black-light

// Link
$link-color = #b00
$link-bottom-color = #fc0
$link-hover-color = #f00
$link-bottom-hover-color = #f0c

// Color for <body>
$body-bg-color = $gray-light

// Selection
$selection-bg = #00c4b6
$selection-color = #fff

// Heading`s link logo
$h-link-logo-color = #f47466

// Horizon line
$hr-color = #fc0
$hr-plane-color = #999

// Blockquote
$quote-bg-color = #e8e8e8
$quote-left-color = #009a61

// Code
$code-bg-color = #f6f0f2
$code-color = #c7254e
$code-family = "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace

// Img
$img-border-width = 1px
$img-border-color = #dadefb

// -------------------------------------------
// Font, line-height
// -------------------------------------------
// Line height
$line-height-base = 2
$line-height-h = 1.5
$line-height-code-block = 1.6 // can't be less 1.3

// Font weight
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 600
$font-weight-bolder = 700

// Font size
$font-size-base = 14px
$font-size-small = $font-size-base - 2px;
$font-size-smaller = $font-size-base - 4px;
$font-size-large = $font-size-base + 2px;
$font-size-larger = $font-size-base + 4px;

// Heading font size
$font-size-h-step = 2px
$font-size-h-base = 24px

$font-family = Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif

// -------------------------------------------
// z-index list
// -------------------------------------------
$z-index-0 = -1
$z-index-1 = 1000
$z-index-2 = 1001
$z-index-3 = 1002
$z-index-4 = 1003
$z-index-5 = 1004

// -------------------------------------------
// Layout
// -------------------------------------------
$main-desktop = 772px
$main-desktop-large = 900px

// Footer
$footer-text-color = #eee
$footer-bg-color = #333
$footer-link-color = $link-color
$footer-link-hover-color = $link-hover-color
$footer-min-height = 40px
$footer-padding = 2rem 1rem
$footer-bg = "../imgs/demo/stun-bg.jpg"
