// ==========================================
// Global variables
// ==========================================

// Define global color
$black-light   = #666
$black-dark    = #333
$gray-light    = #c2c2c2
$gray-dark     = #888
$blue-light    = #49b1f5
$blue-lighter  = #a4d8fa
$orange-dark   = #fc6423
$white         = #fff
$white-light   = #f4f5f5
$white-dark    = #e3e4e4

// Element color
// -------------------------------------------
// Selection (:selection)
$selection-bg                = #8be0e1
$selection-color             = #fff

// Text
$font-color                  = $black-light

// Body (<body>)
$body-bg-color               = $white-light

// Link (<a>)
$link-color                  = #058ed2
$link-hover-color            = #11a3eb
$link-bottom-color           = #d9ecfb
$link-bottom-hover-color     = #7ebef1

// Heading (<h1~6>)
$h-link-logo-color           = #f47466
$h-link-logo-hover-color     = $blue-light
$h-font-size-base            = 24px
$h-font-size-step            = 2px
$h-color                     = #222;

// Horizon line (<hr>)
$hr-color                    = #b8dcfd
$hr-icon-color               = #b8dcfd

// Unordered list (<ul>)
$ul-list-color               = $blue-light
$ul-list-hover-color         = $orange-dark

// Blockquote
$quote-bg-color              = #f8f8f8
$quote-left-color            = #cbcbcb

// Code block
$code-block-side-bg-color    = #eff2f3
$code-block-side-color       = #a9a9a9
$code-block-bg-color         = #f8f8f8
$code-block-color            = #cbcbcb

// Code
$code-bg-color               = #f3f4f4
$code-color                  = $font-color

// Img    
$img-border-width            = 1px
$img-border-color            = #dadefb

// Module`s color
// -------------------------------------------
// Header
$header-nav-bg-color             = $black-dark
$header-nav-text-color           = $white-light
$header-nav-text-hover-color     = $blue-light
$header-nav-link-color           = $white-light
$header-nav-link-hover-color     = $blue-light

// Footer
$footer-text-color               = #eee
$footer-bg-color                 = #333
$footer-link-color               = #c20808
$footer-link-hover-color         = #ed0b0b

// Home page
$home-post-read-more-color       = #73c8ff
$home-post-read-more-hover-color = $blue-light

// Archives page
$archives-left-line-color        = #c8edff
$archives-left-dot-color         = #6ec5ff
$archives-left-dot-hover-color   = $orange-dark
$archives-right-time-color       = #99a9bf

// Categories page
$categories-list-dot-color       = $blue-light
$categories-list-dot-hover-color = $orange-dark
$categories-post-count-color     = #99a9bf
$categories-link-color           = $font-color
$categories-link-hover-color     = $blue-light

// Tags page
$tags-hover-color                = $orange-dark

// Sidebar
$sidebar-nav-text-color          = $font-color
$sidebar-nav-text-hover-color    = $orange-dark
$sidebar-social-color            = #a0daff
$sidebar-social-hover-color      = #64c2fe
$sidebar-feed-email-color        = #54bcff
$sidebar-feed-rss-color          = #ff8956
$sidebar-state-post-color        = #54bcff
$sidebar-state-category-color    = #5c5c5c
$sidebar-state-tag-color         = #ff8956

// Post header info
$post-info-title-color           = #444
$post-info-create-color          = #00a7e0
$post-info-word-count-color      = #333
$post-info-read-count-color      = #ff3f1a
$post-tags-icon-color            = $blue-light

// Pagination
$pagination-item-color           = #49b1f5
$pagination-item-bg-color        = #fff
$pagination-item-hover-color     = #fff
$pagination-item-hover-bg-color  = #49b1f5
$pagination-item-active-color    = #f4f5f5
$pagination-item-active-bg-color = #49b1f5
$pagination-arrow-color          = #49b1f5
$pagination-arrow-hover-color    = $orange-dark

// -------------------------------------------
// Icon font
// -------------------------------------------

// Define icon font
// -------------------------------------------
// Icon for nav menu
$nav-home-1              = '\e815'
$nav-home-2              = '\e802'
$nav-archive-1           = '\e803'
$nav-archive-2           = '\e811'
$nav-category-1          = '\e813'
$nav-category-2          = '\e804'
$nav-tag-1               = '\e808'
$nav-tag-2               = '\e812'
$nav-about-1             = '\e805'
$nav-about-2             = '\e814'

// Icon for search
$nav-search              = '\e800'

// Icon for <hr>
$icon-hr-plane-1         = '\f0fb'
$icon-hr-plane-2         = '\f197'
$icon-hr-plane-3         = '\e80e'

// Icon for <h>
$icon-h-chain-1          = '\e801'
$icon-h-chain-2          = '\e80b'
$icon-h-pin              = '\e80f'
$icon-h-hash             = '\f029'
$icon-h-anchor           = '\e81f'
$icon-h-paw              = '\f1b0'

// Icon for <ol>
$icon-ul-list-dot        = '\e807'
$icon-ul-list-dot-empty  = '\e80c'
$icon-ul-list-rect       = '\e80a'

// Icon before article
$icon-post-create-1      = '\e806'
$icon-post-create-2      = '\f133'
$icon-post-word-1        = '\f1c2'
$icon-post-word-2        = '\f0f6'
$icon-post-eye           = '\e809'
$icon-post-fire          = '\e80d'
$icon-post-celsius       = '\ \2103'

$icon-left-arrow         = '\e810'
$icon-right-arrow        = '\e816'

// -------------------------------------------
// Font, line-height
// -------------------------------------------
// Line height
$line-height-base       = 2    // global line height
$line-height-h          = 1.5  // <h1~6> line height
$line-height-code-block = 1.7  // can`t less 1.3

// Font size
$font-size-rem          = 20px // <html>
$font-size-base         = 14px // <body>
$font-size-small        = $font-size-base - 2px;
$font-size-smaller      = $font-size-base - 4px;
$font-size-large        = $font-size-base + 2px;
$font-size-larger       = $font-size-base + 4px;

// If you don`t want to bother, comment it and default value will be enable
$font-header-base       = 20px
$font-footer-base       = 20px
$font-main-base         = 16px
$font-post-title        = 40px // article title
$font-sidebar-base      = 16px

// Font family
$font-family            = PingFang SC, Microsoft YaHei, Lato, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Helvetica Neue, Helvetica, Arial
$code-font-family       = "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace

// Font weight
$font-weight-light      = 300
$font-weight-normal     = 400
$font-weight-bold       = 600
$font-weight-bolder     = 700

// -------------------------------------------
// z-index list
// -------------------------------------------
$z-index-0 = -1
$z-index-1 = 1000
$z-index-2 = 1001
$z-index-3 = 1002
$z-index-4 = 1003
$z-index-5 = 1004

// -------------------------------------------
// Layout
// -------------------------------------------
// Width
$content-desktop   = 1340px
$main-desktop      = 992px
$main-side-desktop = 315px
