script.
  var disqus_config = function () {
    this.page.url = '!{ page.permalink }';
    this.page.identifier = '!{ page.path }';
    this.page.title = '!{ page.title }';
  };

  window.addEventListener('load', function () {
    Stun.utils.pjaxReloadDisqus = function () {
      (function(d, s) {
        var d = document, s = d.createElement('script');
        s.src = 'https://!{ theme.disqus.shortname }.disqus.com/embed.js';
        s.setAttribute('data-timestamp', '' + +new Date());
        (d.head || d.body).appendChild(s);
      })(document, 'script');
    };

    // Initialization
    Stun.utils.pjaxReloadDisqus();
  }, false);

if theme.disqus.count
  script(async src='https://' + theme.disqus.shortname + '.disqus.com/count.js')#dsq-count-scr
