.back2top {
  position: fixed;
  right: 0;
  bottom: 5vh;
  transition-property: transform;
  transform: translateX(100%);
  cursor: pointer;
  transition-ease();

  &.show {
    transform: translateX(-100%);
  }

  &.hide {
    transform: translateX(100%);
  }

  &-icon {
    font-size: 1.5rem;
    color: convert(hexo-config('back2top.icon.color') || '#666');
    transition-property: color;
    transform: rotate(convert(hexo-config('back2top.icon.rotate') || '0'));
    transition-ease();

    &:hover {
      color: convert(hexo-config('back2top.icon.hover_color') || '#999');
    }
  }
}
