.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: $black-light;
  cursor: pointer;

  i {
    color: $copy-button-color;
  }
}
