.post-copyright
  position: relative
  margin: 1.2rem 0
  border: 1px solid #e6e6e6
  border-radius: 2px
  padding: .8rem 1rem
  width: 100%
  transition: box-shadow .2s

  &:hover
    box-shadow: 0 0 4px 4px #f5f5f5

  .copyright-name
    margin-right: .5rem
    font-weight: $font-weight-bold
    white-space: nowrap

  .copyright-value
    word-break: break-all
    color: $font-color
