.ending {
  padding: 1rem 0 0;
  text-align: center;
  color: var(--color-gray-400);

  if (hexo-config('post_widget.end_text.horizon_line')) {
    border-top: 1px dashed var(--color-gray-300);
  }
}
