.external-link {
  i {
    margin: 0 .1em 0 .3em;
    font-size: .8em;
    color: convert(hexo-config('external_link.icon.color') || '#aaa');
  }

  a {
    break-all();
  }
}

.footer-inner {
  .external-link i {
    font-size: .7em;
    color: #fff;
  }
}

.post-header-title {
  .external-link i {
    font-size: .7em;
  }
}
