.external-link i {
  margin: 0 .1em 0 .2em;
  font-size: .8em;
  color: convert(hexo-config('external_link.icon.color') || '#aaa');
}

.footer-inner {
  .external-link i {
    font-size: .7em;
    color: #fff;
  }
}

.post-header-title {
  .external-link i {
    font-size: .7em;
  }
}
