.gallery {
  img {
    margin-bottom: convert(hexo-config('gallery_waterfall.gap_y') || '10px');

    if (hexo-config('gallery_waterfall.enable')) {
      width: convert(hexo-config('gallery_waterfall.col_width') || '220px');
    }
  }
}
