// Gallery in post / page.
.gallery {
  &__img {
    margin-bottom: convert(hexo-config('gallery_waterfall.gap_y') || '10px');
    width: convert(hexo-config('gallery_waterfall.col_width') || '220px');
  }
}
