.mode {
  position: relative;
  border: 0;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  &--focus {
    .mode {
      &-thumb {
        box-shadow: 0 0 2px 3px #0099e0;
      }
    }
  }

  &--checked {
    .mode {
      &-thumb {
        transform: translateX(27px);
      }
    }
  }

  &-track {
    border-radius: 30px;
    width: 50px;
    height: 24px;
    background-color: convert(hexo-config('night_mode.button.bg_color') || '#8c8a8a');

    &-moon,
    &-sun {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 10px;
      height: 10px;
      line-height: 0;
      text-align: center;

      &::before {
        display: flex;
        width: 10px;
        height: 10px;
        font-size: 14px;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }

    &-moon {
      left: 8px;

      &::before {
        if (hexo-config('night_mode.icon.dark')) {
          content: hexo-config('night_mode.icon.dark');
        } else {
          content: '🌜';
        }
      }
    }

    &-sun {
      right: 8px;

      &::before {
        if (hexo-config('night_mode.icon.light')) {
          content: hexo-config('night_mode.icon.light');
        } else {
          content: '🌞';
        }
      }
    }
  }

  &-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    box-sizing: border-box;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: convert(hexo-config('night_mode.button.color') || '#fafafa');
    transition: transform .2s ease;
  }

  &-input {
    position: absolute;
    border: 0;
    width: 0;
    height: 0;
  }
}
