.paginator {
  margin-top: 1rem;
  text-align: center;

  &-inner {
    border-radius: 5px;
    padding: .8em 0;
    background-color: var(--color-gray-150);
  }

  .space,
  .page-number {
    display: inline-block;
    border-radius: 3px;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    vertical-align: middle;
  }

  .page-number {
    margin: 0 .5em;
    color: $pagination-item-color;
    transition: color .2s ease, background-color .2s ease;

    &:hover {
      color: $pagination-item-hover-color;
      background-color: $pagination-item-hover-bg-color;
    }
  }

  .current {
    color: $pagination-item-active-color;
    background-color: $pagination-item-active-bg-color;
  }

  a.prev,
  a.next {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    color: $pagination-arrow-color;
    transition: color .2s ease;

    &:hover {
      color: $pagination-arrow-hover-color;
    }
  }

  a.prev {
    margin-right: .2em;
  }

  a.next {
    margin-left: .2em;
  }

  &-prev,
  &-next {
    width: 100%;

    &__link {
      break-word();
      color: $pagination-arrow-color;
      transition: color .2s ease;

      &:hover {
        color: $pagination-arrow-hover-color;
      }
    }
  }

  &-prev {
    text-align: left;

    &__icon {
      margin-right: .3rem;
    }
  }

  &-next {
    text-align: right;

    &__icon {
      margin-left: .3rem;
    }
  }
}
