.post-list {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: $font-size-main;
    bottom: $font-size-main;
    left: 0;
    border-left: .3rem solid $post-list-line-color;
    transform: translateX(-50%);
  }

  &-item {
    display: block;
    position: relative;
    margin-bottom: .8rem;
    padding-left: 1.5rem;
    width: 100%;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: $z-index0;
      border: .15rem solid $post-list-dot-color;
      border-radius: 50%;
      width: .6rem;
      height: .6rem;
      background-color: $white;
      transition-property: border-color;
      transition-ease();
      transform: translate(-50%, -50%);
    }

    &:hover {
      &::before {
        border-color: $post-list-dot-hover-color;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.year {
      font-weight: $font-weight-bolder;
    }

    &__time {
      display: inline-block;
      padding-right: 1rem;
      width: 3rem;
      vertical-align: middle;
      color: $post-list-time-color;
      transform: translateY(3%);
    }

    &-title {
      display: inline-block;
      margin: 0;
      width: calc(100% - 3rem);
      font-size: $font-size-main + 2px;
      font-weight: normal;
      vertical-align: middle;

      &__a {
        color: $font-color;
        transition-property: color;
        transition-ease();

        &:hover {
          color: $blue-light;
        }
      }
    }
  }
}
