{% if page.prev or page.next %}
  <nav class="paginator">
    {{
      paginator({
        prev_text: '<i class="' + theme.icon.paginator_prev + '"></i>',
        next_text: '<i class="' + theme.icon.paginator_next + '"></i>',
        mid_size : 1,
        escape   : false
      })
    }}
  </nav>
{% endif %}
