div.busuanzi
  if theme.busuanzi.site.uv.enable
    span.busuanzi-uv
      i.fa.fa-user

      if !theme.busuanzi.site.icon_only
        span= _p("footer.uv") + " "
      
      span#busuanzi_value_site_uv
    
  if theme.busuanzi.site.uv.enable && theme.busuanzi.site.pv.enable
    span.separator= "|"

  if theme.busuanzi.site.pv.enable
    span.busuanzi-pv
      i.fa.fa-eye
      
      if !theme.busuanzi.site.icon_only
        span= _p("footer.pv") + " "
      
      span#busuanzi_value_site_pv
