.article-sort-item
  display: inline-block
  position: relative
  margin-bottom: .8rem
  padding-left: 1.4rem
  width: 100%
  align-items: center

  h2
    margin: 0
    font-weight: $font-weight-normal
    line-height: $line-height-h

  &:last-child
    margin-bottom: 0

  &:not(.year):hover
    &::before
      border-color: $archives-left-dot-hover-color

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: $z-index0
    border: .15rem solid $archives-left-dot-color
    border-radius: 50%
    width: .6rem
    height: .6rem
    background-color: $white
    transition: border-color .2s ease
    transform: translate(-50%, -50%)

  &.year
    display: block
    position: relative
    font-size: $font-main-base
    font-weight: $font-weight-bolder

  &__time
    display: inline-block
    margin-right: 1rem
    font-size: $font-main-base
    vertical-align: middle
    color: $archives-right-time-color
    transform: translate(0, 8%)

  &__title
    display: inline-block
    max-width: 80%
    font-size: 1em
    vertical-align: middle

    a
      clearAStyle()
      text-decoration: none
      color: $font-color
      cursor: pointer

      &:hover
        color: $blue-light !important
