.post-header
  margin: 0 0 1.5rem
  text-align: center

  .post-title
    margin: 0 0 1rem
    font-size: $font-post-title
    word-wrap: break-word
    color: $post-info-title-color

    &-link
      display: inline-block
      position: relative
      margin: 0 0 .5rem
      border: 0

      &::before
        content: ''
        visibility: hidden
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 2px
        background-color: #000
        transition-timing-function: ease
        transition-duration: .2s
        transform: scaleX(0)

      &:hover::before
        visibility: visible
        transform: scaleX(1)

      h1
        margin: 0
        line-height: 1.6

  .post-meta
    *::before,
    *::after
      margin-right: .2rem
      @extend $font-face

    & > span
      &:not(:first-child)::before
        content: '•'
        margin: 0 .3rem
        color: #666

    &-create
      color: $post-info-create-color

    &-update
      color: $post-info-update-color

    &-word-count
      color: $post-info-word-count-color

    &-reading-time
      color: $post-info-reading-time-color

    &-reading-count
      color: $post-info-reading-count-color
  
  .leancloud_visitors
    color: $post-info-reading-count-color

#recent-posts
  .post-header
    margin-bottom: 2em

  .post-header
    padding: 0
