.nightmode
	.MiniValine
		*
			color: #000 !important
		.commentTrigger
			background-color: #403e3e !important
		.vpage .more
			background: #21232F
		img
			filter: brightness(30%)
		.vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:before
			background: linear-gradient(180deg, rgba(246,246,246,0), rgba(0,0,0,0.9))
		.vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:after
			background: rgba(0,0,0,0.9)
		.vlist .vcard .vcomment-body .text-wrapper .vcomment pre
			background: #282c34
			border: 1px solid #282c34
		.vinputs-area .vextra-area .vsmile-icons
			background: transparent
		#vinputs-placeholder > div.vinputs-wrap > div > div.textarea-wrapper > div.veditor-area > textarea
			color: #000
		.vpreview-text
			color: #000 !important
