if theme.disqus.enable
  div#comments.comments
    div#disqus_thread
else if theme.valine.enable
  div#comments.comments
    div#valine-container
else if theme.minivaline.enable
  div#comments.comments
    div#minivaline-container
else if theme.gitalk.enable
  div#comments.comments
    div#gitalk-container
else if theme.utterances.enable
  div#comments.comments
    div#utterances-container
else if theme.livere.enable
  div#comments.comments
    div#lv-container(data-id="city" data-uid=theme.livere.uid)
