if _.get(theme, 'disqus.enable')
  div#comments.comments
    div#disqus_thread
else if _.get(theme, 'valine.enable')
  div#comments.comments
    div#valine-container
else if _.get(theme, 'gitalk.enable')
  div#comments.comments
    div#gitalk-container
else if _.get(theme, 'utterances.enable')
  div#comments.comments
    div#utterances-container
else if _.get(theme, 'livere.enable')
  div#comments.comments
    div#lv-container(data-id="city" data-uid=theme.livere.uid)
