// 图片设置
.content img
  border-radius: 15px;
  border: none;
  margin: 5px auto;
  max-height: 400px;

// 脚注
.footnotes-list {
  padding-inline-start: 20px;  
}
.footnote-item {
  line-height: 125% !important;
  font-size: 12px;
}

// 评论表情
.v img {
  display: inline;
}

// 顶部栏
@media (max-width: $md-width) {
  .header-nav-menu-item__link {
    color: #2d2e30;
  }
}

// Module color
// -------------------------------------------
// Header
$header-bg-color                   = #ffebd7
$header-text-color                 = #2d2e30
$header-nav-bg-color               = #ffebd7
$header-menu-hover-color           = $blue-light

// Footer
$footer-bg-color                   = #2d2e30
$footer-text-color                 = #f5f6f7
$footer-link-color                 = #c20808
$footer-link-hover-color           = #ed0b0b