@require './theme.styl';
@require './diff.styl';

languages = 'js' 'javascript' 'python' 'ruby' 'xml' 'html' 'css' 'php' 'sql' 'coffeescript' 'java' 'bash' 'markdown' 'kotlin' 'c' 'c\+\+' 'c#' 'go' 'golang' 'less' 'sass' 'scss' 'stylus' 'styl' 'typescript' 'ts' 'yml' 'yaml' 'matlab' 'objectivec' 'makefile' 'scala' 'gradle' 'swift' 'rust' 'lua' 'lisp' 'fortran' 'dart' 'perl';
codeStyle = hexo-config('codeblock.style') || 'default';
wordWrap = hexo-config('codeblock.word_wrap') || false;

for lang in languages {
  .highlight{'.' + lang} {
    figcaption {
      span {
        &:first-child::before {
          content: lang;
          margin: 0 .6rem 0 0;
          color: $highlight-code-lang-color;
        }
      }
    }
  }
}

.highlight {
  margin: 0 0 1rem;
  width: 100%;
  line-height: $line-height-codeblock;
  color: $highlight-color;
  background-color: $highlight-background;

  if (codeStyle == 'simple' || (codeStyle == 'carbon')) {
    border-radius: .25rem;
  }

  pre,
  code {
    font-family: $font-family-code;
  }

  pre {
    margin: 0;

    if (wordWrap) {
      white-space: pre-wrap;
      counter-reset: line;
    }
  }

  td {
    border-width: 0;
  }

  figcaption {
    position: relative;
    width: 100%;
    color: $highlight-header-color;
    background-color: $highlight-header-bg-color;
    clearfix();

    if (codeStyle == 'carbon') {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }

    if (codeStyle == 'default') {
      padding: .1rem 0;
    }

    span {
      &:first-child {
        float: left;
        margin-left: .5rem;
        color: $highlight-code-note-color;
      }

      &.external-link {
        float: right;
        margin-right: 2em;
      }
    }
  }

  figcaption.custom {
    min-height: 1.5rem;

    if (codeStyle == 'carbon') {
      display: flex;
    }

    .custom-lang {
      float: left;
      margin: 0 .6rem;
      color: $highlight-code-lang-color;
    }

    if (codeStyle == 'carbon') {
      .custom-carbon {
        display: flex;
        margin: .2rem 0 0 .5rem;
        font-size: 0;
        align-items: center;

        &-dot {
          display: inline-block;
          margin: 0 4px;
          border-radius: 50%;
          width: 10px;
          height: 10px;

          &--red {
            background-color: #ff5f56;
          }

          &--yellow {
            background-color: #ffbd2e;
          }

          &--green {
            background-color: #27c93f;
          }
        }
      }
    }
  }

  .gutter {
    padding: .4rem .6rem;
    width: 1rem;
    background-color: $highlight-side-bg-color;

    if (wordWrap || (codeStyle == 'simple' || (codeStyle == 'carbon'))) {
      display: none;
    }

    pre {
      text-align: right;
      color: $highlight-side-color;
      background-color: inherit;
    }
  }

  .code {
    if (codeStyle == 'simple' || (codeStyle == 'carbon')) {
      padding: .5rem .75rem;
    } else if (codeStyle == 'default') {
      if (wordWrap) {
        padding: 0;
      } else {
        padding: .5rem .6rem;
      }
    }
  }

  if (wordWrap && (codeStyle == 'default')) {
    .line {
      &::before {
        content: counter(line);
        display: inline-block;
        margin-right: .5rem;
        box-sizing: content-box;
        padding: 0 .8rem 0 .4rem;
        min-width: 1rem;
        text-align: right;
        color: $highlight-side-color;
        background-color: $highlight-side-bg-color;
        counter-increment: line;
      }
    }
  }

  .variable,
  .attribute {
    color: $highlight-red;
  }

  .number,
  .preprocessor,
  .literal,
  .params,
  .constant,
  .number,
  .command {
    color: $highlight-orange;
  }

  .built_in {
    color: $highlight-yellow;
  }

  .special,
  .formula,
  .class,
  .string,
  .value,
  .inheritance,
  .header,
  .regexp,
  .tag {
    color: $highlight-green;
  }

  .keyword,
  .title {
    color: $highlight-aqua;
  }

  .function,
  .title {
    color: $highlight-blue;
  }

  .comment {
    color: $highlight-comment;
  }
}

.ruby .constant,
.xml .tag .title,
.xml .pi,
.xml .doctype,
.html .doctype,
.css .id,
.tag .name,
.css .class,
.css .pseudo {
  color: $highlight-red;
}

.ruby .class .title,
.css .rules .attribute,
.ruby .symbol,
.xml .cdata {
  color: $highlight-green;
}

.css .hexcolor,
.tag .string {
  color: $highlight-aqua;
}

.python .decorator,
.python .title,
.ruby .function .title,
.ruby .title .keyword,
.perl .sub,
.javascript .title,
.js .title,
.coffeescript .title {
  color: $highlight-blue;
}

.tag .attr,
.javascript .keyword,
.javascript .function,
.js .keyword,
.js .function {
  color: $highlight-purple;
}

.diff {
  .addition {
    color: $highlight-addition-color;
    background-color: $highlight-addition-bg-color;
  }

  .deletion {
    color: $highlight-deletion-color;
    background-color: $highlight-deletion-bg-color;
  }
}

if (hexo-config('night_mode.enable')) {
  .nightmode {
    if (hexo-config('codeblock.highlight') == 'light') {
      .diff {
        .addition {
          background-color: transparent;
        }

        .deletion {
          background-color: transparent;
        }
      }
    }
  }
}
