.sidebar {
  width: convert(hexo-config('sidebar.width') || '$sidebar-width');

  .hide {
    display: none;
  }

  &-inner {
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: $font-size-sidebar;
    background-color: $white;
  }

  &-nav {
    padding-bottom: 1em;
    text-align: center;

    &-toc,
    &-ov {
      border-bottom: 1px solid #fff;
      padding: .3em .5em;
      color: $sidebar-nav-text-color;
      transition: opacity .2s;

      &:hover {
        color: $sidebar-nav-text-hover-color;
        cursor: pointer;
      }
    }

    .current {
      border-color: $sidebar-nav-text-hover-color;
      color: $sidebar-nav-text-hover-color;
    }
  }

  &-toc {
    overflow: auto;
    position: relative;
    max-height: 70vh;

    if (hexo-config('toc.wrap')) {
      word-wrap();
    } else {
      white-space: nowrap;
    }

    if (!hexo-config('toc.expand_all')) {
      .toc .toc-child {
        display: none;
      }

      .toc .active > .toc-child {
        display: block;
      }

      .toc .current > .toc-child {
        display: block;
      }
    }

    .active,
    .current {
      & > a {
        color: $orange-dark;
        transition: color .3s;
      }
    }

    ol,
    li {
      list-style: none;
    }

    ol {
      margin: 0;
      padding-left: 1em;
    }
  }

  &-ov {
    & > div {
      if (hexo-config('sidebar.horizon_line')) {
        &:not(:last-child) {
          border-bottom: 1px dashed $sidebar-horizon-line-color;
        }
      }
    }

    &-author {
      width: 100%;
      text-align: center;

      &__img {
        width: 120px;
        height: 120px;
        opacity: hexo-config('author.avatar.opacity');

        if (hexo-config('author.avatar.rounded')) {
          border-radius: 50%;
        } else {
          border-radius: 2px;
        }

        &:hover {
          animation: convert('avatar-' + (hexo-config('author.avatar.animation') || 'turn')) .8s both ease-out;
        }
      }

      &__p {
        margin: .5rem 0 0;
        font-weight: $font-weight-bold;
      }
    }

    &-social {
      padding: .5rem 0;
      text-align: center;

      &-item {
        display: inline-block;
        margin: .2rem;
        text-align: center;

        if (hexo-config('social_setting.icon_only')) {
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          background-color: $sidebar-social-color;
          transition-property: background-color;
          transition-ease();

          &:hover {
            background-color: $sidebar-social-hover-color;
          }

          &__a {
            display: inline-block;
            width: 100%;
            color: $white;

            &:hover {
              color: $white;
            }

            &--icon {
              font-size: 1.2em;
              line-height: 1.5rem;
            }
          }
        } else {
          &__a {
            display: block;
            border-radius: 3px;
            padding: 0 .4rem;
            color: $white;
            background-color: $sidebar-social-color;
            transition-property: color, background-color;
            transition-ease();

            &:hover {
              color: $white;
              background-color: $sidebar-social-hover-color;
            }
          }

          span {
            margin-left: .2rem;
          }
        }
      }
    }

    &-feed {
      padding: .5rem 0;
      text-align: center;

      &-icon {
        margin-right: .3em;
      }

      &-email,
      &-rss {
        display: inline-block;
        width: 50%;

        &__a {
          transition-property: color;
          transition-ease();

          &--icon {
            margin-right: .2rem;
          }
        }
      }

      &-email__a {
        color: $sidebar-feed-email-color;

        &:hover {
          color: darken($sidebar-feed-email-color, 20%);
        }
      }

      &-rss__a {
        color: $sidebar-feed-rss-color;

        &:hover {
          color: darken($sidebar-feed-rss-color, 20%);
        }
      }
    }

    &-state {
      padding: .5rem 0;
      text-align: center;

      &__a {
        display: inline-block;
        width: 33.3%;
        line-height: 1.5em;
        transition-property: color;
        transition-ease();

        &:not(:last-child) {
          border-right: 1px solid $sidebar-horizon-line-color;
        }

        &.posts {
          color: $sidebar-state-post-color;

          &:hover {
            color: darken($sidebar-state-post-color, 30%);
          }
        }

        &.categories {
          color: $sidebar-state-category-color;

          &:hover {
            color: darken($sidebar-state-category-color, 30%);
          }
        }

        &.tags {
          color: $sidebar-state-tag-color;

          &:hover {
            color: darken($sidebar-state-tag-color, 30%);
          }
        }

        &--count {
          font-weight: $font-weight-bold;
          color: $black-dark;
        }
      }
    }

    &-cc {
      padding-top: .5rem;
      text-align: center;
    }
  }

  &-reading {
    overflow: hidden;
    margin-top: .5em;
    text-align: center;

    &-info {
      margin-bottom: .3em;
    }

    &-line {
      width: 100%;
      height: convert(hexo-config('reading_progress.height') || '1px');
      background-color: convert(hexo-config('reading_progress.color') || '#49b1f5');
      transition-property: transform;
      transition-ease();
      transform: translateX(-100%);
    }
  }
}
