doctype html
html(lang=config.language)
  head
    include ./head.pug
  body
    #container
      include ./header.pug
      include ./main.pug
      include ./footer.pug

      if theme.back2top.enable
        include ../_components/back2top.pug
    
    if theme.cdn && theme.cdn.js
      each url in theme.cdn.js
        if url
          script(src=url_for(url))
    
    include ../_scripts/common.pug
    
    if is_post()
      include ../_scripts/post.pug

    //- Third party resource file
    include ../_third-party/comments/index.pug
