doctype html
html(lang=config.language)
  head
    include ./head.pug
  body
    #container
      include ./header.pug
      include ./main.pug
      include ./footer.pug

      if theme.back_to_top
        include ../_components/back-top.pug

    if theme.cdn && theme.cdn.js
      each url in theme.cdn.js
        if url
          script(src=url_for(url))

    if theme.scripts && theme.scripts.length > 0
      each url in theme.scripts
        script(src=url_for(url) + '?v=' + stun_env('version'))
