.comments
  margin: 1.5rem 0 0

  a
    clearAStyle()

// Gitment
#gitment-container
  width: 100%

#gitment-button
  text-align: center

.gitment-button-inner
  display: inline-block
  border-radius: 10px
  padding: .2rem 1rem
  color: $white
  background-color: alpha($blue-light, .8)
  transition: background-color .2s
  cursor: pointer

  &:hover
    background-color: $blue-light

// Gitalk
#gitalk-container
  width: 100%

  .gt-meta
    margin-top: 0
    padding-top: 0

// Livere
#lv-container
  width: 100%

// Disqus
#disqus_thread
  width: 100%
