.copy-button
  position: absolute
  top: 0
  right: 0
  width: 1.5rem
  height: 1.5rem
  line-height: .5rem
  // Eliminate the problem of blank nodes occupying size
  // due to the "inline-block" attribute.
  font-size: 0
  text-align: center
  color: $black-light
  cursor: pointer

  .fa
    font-size: 14px
