.external-link
  margin: 0 .1em 0 .2em
  font-size: .9em
  color: convert(hexo-config('external_link.icon.color') || '#aaa')

.footer-inner
  .external-link
    color: #fff

.post-title-link
  .external-link
    font-size: .7em
