.loading-bar
  position: fixed
  top: 0
  left: 0
  z-index: 99999
  opacity: 0
  transition: opacity .4s

  .progress
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 2px
    background: #77b6ff
    box-shadow: 0 0 10px rgba(119, 182, 255, .7)
    transform: translateX(-100%)

  &.loading
    opacity: 1
    transition: none

    .progress
      transition: transform .4s ease
      will-change: transform
