#paginator
  overflow: hidden
  margin-top: 1em
  width: 100%

.paginator-inner
  border-radius: 5px
  padding: .7em 0
  text-align: center
  background-color: $white

  a.page-number
    clearAStyle()
    height: 100%
    color: $pagination-item-color
    background-color: $pagination-item-bg-color

    &:hover
      color: $pagination-item-hover-color
      background-color: $pagination-item-hover-bg-color

  .space,
  .page-number
    display: inline-block
    border-radius: 3px
    width: 1.5em
    height: 1.5em
    line-height: 1.5em
    vertical-align: middle

  .page-number
    margin: 0 .5em

  .space
    margin: 0 .2em

  .current
    color: $pagination-item-active-color
    background-color: $pagination-item-active-bg-color

  a.prev,
  a.next
    clearAStyle()
    vertical-align: middle
    color: $pagination-arrow-color

    &:hover
      color: $pagination-arrow-hover-color

  a.prev
    margin-right: .5em

  a.next
    margin-left: .5em

.post-paginator
  overflow: hidden
  border-top: 1px solid #e8e8e8
  padding-top: 2em

  .article-prev,
  .article-next
    width: 100%

    a
      clearAStyle()
      word-break: break-all
      color: $pagination-arrow-color

      &:hover
        color: $pagination-arrow-hover-color

  .article-prev
    text-align: left

    .title
      margin-left: .3rem

  .article-next
    text-align: right

    .title
      margin-right: .3rem

  .pull-left
    float: left

  .pull-right
    float: right
