#reward
  text-align: center

.reward-button
  display: inline-block
  margin: 1rem 0 1.5rem
  border-radius: 10px
  padding: .2rem 1rem
  color: $white
  background-color: $reward-btn-color
  transition: background-color .2s
  cursor: pointer

  &:hover
    background-color: $reward-btn-hover-color

.reward-qr-wrapper
  display: none

.reward-qr
  overflow: hidden

  &-alipay,
  &-wechat
    display: inline-block
    margin: 0 2rem

    img
      width: 200px
      height: 200px

  &-alipay-text,
  &-wechat-text
    margin: .5rem 0

  &-alipay-text
    color: $reward-alipay-color

  &-wechat-text
    color: $reward-wechat-color
