if (hexo-config('sidebar.width'))
  $sidebar-width = convert(hexo-config('sidebar.width'))

if (hexo-config('sidebar.float') == 'left')
  $sidebar-show
    float: left
else if (hexo-config('sidebar.float') == 'right')
  $sidebar-show
    float: right

#sidebar
  width: $sidebar-width
  font-size: $font-sidebar-base
  @extend $sidebar-show

if (hexo-config('sidebar.offsetTop'))
  $sidebar-top = convert(hexo-config('sidebar.offsetTop'))

.sidebar-inner
  border-radius: 5px
  padding: 1rem
  width: $sidebar-width
  background-color: $white

  &.sticky
    position: fixed
    top: $sidebar-top

  .hide
    display: none
  
.sidebar-nav
  padding-bottom: 1em
  text-align: center

  &-toc,
  &-overview
    border-bottom: 1px solid #fff
    padding: .3em .5em
    color: $sidebar-nav-text-color
    transition: all .2s

    &:hover
      color: $sidebar-nav-text-hover-color
      cursor: pointer

  .current
    border-color: $sidebar-nav-text-hover-color
    color: $sidebar-nav-text-hover-color

if (hexo-config('avatar.animation'))
  $avatar-animation = convert('avatar-' + hexo-config('avatar.animation'))

.sidebar-toc
  overflow: auto
  max-height: 50vh

  ol,
  li
    list-style: none

  ol
    margin: 0
    padding-left: 1em

.sidebar-overview
  .sidebar-author
    display: flex
    width: 100%
    flex-direction: column

    &-avatar
      margin: 0 auto
      border-radius: 50%
      padding: 0
      width: 150px
      height: 150px

      &:hover
        animation: $avatar-animation .8s both ease-out

    &-motto
      margin-bottom: 0
      font-weight: $font-weight-bold
      text-align: center

  .sidebar-social,
  .sidebar-feed,
  .sidebar-state,
  .sidebar-cc
    a
      border-bottom: 0

    if (hexo-config('sidebar.horizon_line'))
      &:not(:last-child)
        border-bottom: 1px dashed #e6e6e6

  .sidebar-social
    display: flex
    overflow: hidden
    margin: 0 auto
    padding: .8rem 0
    text-align: center
    flex-wrap: wrap
    justify-content: center

    &-item
      margin: .2rem
      border-radius: 1px
      text-align: center
      background-color: $sidebar-social-color
      transition: background-color .3s
      flex: 0 0 auto

      &:hover
        background-color: $sidebar-social-hover-color

      &:last-child
        margin-right: 0

      a
        display: block
        padding: 0 .2rem
        color: #fff
      
      i
        display: inline
        margin: 0 .2rem
      
      span
        margin: 0 .2rem
      
    .icon-only
      line-height: 1.5rem
      border-radius: 50%

      a
        width: 1.5rem
        height: 1.5rem

  .sidebar-feed
    display: flex
    padding: .5rem 0
    text-align: center
    justify-content: center

    &-icon
      margin-right: .3em

    &-email,
    &-rss
      margin: 0 auto

      span
        margin: 0 .15em

    &-email > a
      color: $sidebar-feed-email-color

    &-rss > a
      color: $sidebar-feed-rss-color

  .sidebar-state
    display: flex
    padding: .5rem 0
    flex-wrap: wrap
    justify-content: center

    &-item
      margin-right: .5rem
      border-right: 1px solid #eee
      padding-right: .5rem
      line-height: 1.6em
      text-align: center

      &:last-child
        margin: 0
        border: 0
        padding: 0

      &-count
        font-weight: $font-weight-bold
        color: $black-dark

    &-posts > a
      color: $sidebar-state-post-color

    &-categories > a
      color: $sidebar-state-category-color

    &-tags > a
      color: $sidebar-state-tag-color

  .sidebar-cc
    padding: .5rem 0
    text-align: center

    img
      border-width: 0
      padding: 0

  & > :last-child
    margin-bottom: 0
    padding-bottom: 0

  & > :first-child
    margin-top: 0
    padding-top: 0

.sidebar-progress
  display: none
  margin-top: .5em
  text-align: center

  &-read
    margin-bottom: .3em

    span
      margin: 0 .1em

  &-line
    width: 0
    height: 1px
    background-color: $blue-light
