doctype html
html(lang=config.language)
  head
    include ./head.pug
  body
    #container
      include ./header.pug
      include ./main.pug
      include ./footer.pug

    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=`${url}?version=${version()}`)
