main#main
  #main-inner
    if body
      div!= body
    else
      block content

    //- test code
    //- h3(id="h3-test")
    //-   a(href="#h3-test") h3-test
    //- p test test test test
    //- p test test test test
    //- p test test test test
    //- p test test test test
    //- code test
    //- span luiyibo
    //- p
    //-   img(src="/imgs/favicon.ico")
    //- blockquote
    //-   h3 hello world
    //-   code
    //-     span console.log(123); var a = 1; function (a, b) { return a + b; }
    //-     span console.log(123); var a = 1; function (a, b) { return a + b; }
    //- h1 hello world
    //- h2 hello world
    //- h3 hello world
    //- h4 hello world
    //- h5 hello world
    //- h6 hello world
    //- hr
    //- p test test test test