-
  var options = {
    prev_text: '<i class="icon-left-arrow"></i>',
    next_text: '<i class="icon-right-arrow"></i>',
    mid_size: 1
  }

div#paginator
  if (!is_post())
    != paginator(options)
  else
    if (page.prev)
      .article-prev.pull-left
        a(href=url_for(page.prev.path))
          span= page.prev.title
    if (page.next)
      .article-next.pull-right
        a(href=url_for(page.next.path))
          span= page.next.title
