.archive
  width: $main-desktop
  padding: 3rem 2rem

.archive-inner
  position: relative
  margin-left: 2rem
  
  &::before
    position: absolute
    content: ''
    left: -0.1rem
    top: .2rem
    height: calc(100% - 1rem)
    border-left: .2rem solid $blue-light

.article-sort-title
  position: relative
  margin-bottom: 1.3rem
  padding-left: 1.4rem
  font-size: 1.2rem
  line-height: 1

  &::before
    z-index: $z-index-2
    content: ''
    position: absolute
    left: -0.6rem
    top: .1rem
    width: 1.2rem
    height: 1.2rem
    line-height: 1.2rem
    border: .25rem solid $blue-light
    border-radius: 50%
    background-color: #fff    
    transition: all .2s ease

.article-sort-item
  position: relative
  margin-bottom: .8rem
  padding-left: 1.4rem

  h2
    display: inline-block
    margin: 0
    font-weight: $font-weight-normal

  &:not(.year):hover
    &::before
      border-color: $orange-dark

  &::before
    z-index: $z-index-2
    content: ''
    position: absolute
    left: -0.4rem
    top: calc(50% - .4rem)
    width: .8rem
    height: .8rem
    border: .2rem solid $blue-light
    border-radius: 50%
    background-color #fff
    transition: all .2s ease

  &.year
    position: relative
    font-size: 1rem
    font-weight: $font-weight-bolder
    margin-bottom: 1.3rem
  
  &__time
    color: #99a9bf
    margin-right: 1rem
    
  &__title
    border-bottom: 0
    color: $font-color
    font-size: .9rem
    text-decoration: none
    cursor: pointer

    &:hover
      border-bottom: 0
      color: $blue-light !important
