if (hexo-config('footer_bg_img'))
  $footer-bg-img = hexo-config('footer_bg_img')

#footer
  font-size: $font-footer-base is defined ? $font-footer-base : 1rem
  background-color: $gray-dark
  background-attachment: fixed
  background-position: bottom
  background-size: cover

  if (hexo-config('footer_bg_img'))
    background-image: url($footer-bg-img)

  a
    border-bottom: 0
    color: $footer-link-color

    &:hover
      color: $footer-link-hover-color

.footer-inner
  padding: 1rem
  text-align: center
  color: $footer-text-color

  .footer-separator
    margin: 0 .3rem

  .heart-beat
    font-size: .9em
    animation: footer-heart-beat 1.4s infinite
