#footer
  font-size: 1rem
  background-color: $footer-bg-color
  background-image: url($footer-bg-img)
  background-attachment: fixed
  background-position: bottom
  background-size: cover

  span
    vertical-align: middle

  a
    border-bottom: 0
    color: $footer-link-color

    &:hover
      color: $footer-link-hover-color

  span.footer-powered
    vertical-align: middle

    a
      vertical-align: middle

  .footer-inner
    padding: 1rem
    text-align: center
    color: $footer-text-color
    cursor: default

    p
      margin: 5px 0
      font-size: $font-size-large
      line-height: 1.5em

  .footer-separator
    margin: 0 .3rem

  .footer-heart
    display: inline-block
    margin: 0 .3rem
    color: red
    animation: footer-heart-beat 1.4s infinite
