#header
  display: flex
  position: relative
  margin: 0 0 3rem
  height: $header-height
  font-size: $font-header-base is defined ? $font-header-base : 1rem
  background-image: url($header-bg-img)
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  background-size: cover
  flex-direction: column

  // header nav menu
  .icon-home::before
    content: $nav-home

  .icon-archives::before
    content: $nav-archive

  .icon-categories::before
    content: $nav-category

  .icon-tags::before
    content: $nav-tag

  .icon-about::before
    content: $nav-about

  .icon-search::before
    content: $nav-search

#header-nav
  position: fixed
  top: 0
  z-index: $z-index-5
  width: 100%
  height: $header-nav-height
  transition: background-color .3s

  &.fixed
    background-color: alpha($header-nav-bg-color, .5)

    a
      color: $header-nav-link-color

      &:hover
        color: $header-nav-link-hover-color

  &.nav-slider
    animation-duration: .3s
    animation-timing-function: ease
    animation-fill-mode: both

  &.slider-down
    animation-name: header-sliderDown

  &.slider-up
    animation-name: header-sliderUp

.header-nav-menu
  position: relative
  margin: 0 auto
  width: $content-desktop
  height: 100%

  &-icon
    margin-right: .25rem

  ul
    margin: 0
    padding: 0
    height: 100%

  li
    float: left
    list-style-type: none
    margin: 0 1rem 0 0
    height: 100%

    &:hover
      color: $header-link-hover-color

    a
      display: block
      border-bottom: 0
      padding: 0 .5rem
      height: 100%
      line-height: $header-nav-height
      text-decoration: none
      color: $header-nav-link-color
      transition: color .2s ease

      &:hover
        color: $header-nav-link-hover-color

#header-info
  display: flex
  text-align: center
  flex: 1
  flex-direction: column

  // enable blur effect for site info
  if ($site-info-blur-enable == true)
    overflow: hidden
    position: absolute
    top: calc(50% - 150px)
    left: calc(50% - 300px)
    width: 600px
    height: 300px
    background: inherit

    // blur effect
    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: 0 - $site-info-blur-spread
      background: inherit
      background-attachment: fixed
      filter: blur($site-info-blur-level)

  .header-info-inner
    display: flex
    position: relative
    z-index: $z-index-4
    width: 100%
    height: 100%
    flex: 1
    flex-direction: column
    justify-content: center

    .site-info-title
      font-size: 2.5rem
      font-weight: $font-weight-bolder
      color: #f9f9f9

    .site-info-subtitle
      font-size: 2rem
      font-weight: $font-weight-bold
      color: #f9f9f9