#header
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 100vh
  margin: 0 0 3rem
  font-size: 1rem
  background-color: alpha($header-nav-bg-color, .6)
  background-image: url('/imgs/demo/stun-bg.jpg')
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  // header nav menu
  .icon-home::before
    content: $nav-home

  .icon-archives::before
    content: $nav-archive

  .icon-categories::before
    content: $nav-category

  .icon-tags::before
    content: $nav-tag

  .icon-about::before
    content: $nav-about

  .icon-search::before
    content: $nav-search

#header-nav
  z-index: $z-index-5
  position: fixed
  top: 0
  width: 100%
  height: $header-nav-height
  transition: all .3s ease-in-out

  &.fixed
    background-color: alpha($black-dark, .5)

    a
      color: $white-light

      &:hover
        color: $header-link-hover-color

  &.nav-slider
    animation-duration: .5s
    animation-timing-function: ease
    animation-fill-mode: both

  &.slider-down
    animation-name: sliderDown

  &.slider-up
    animation-name: sliderUp

@keyframes sliderDown
  0%
    transform: translateY(-100%)

  100%
    transform: translateY(0)

@keyframes sliderUp
  0%
    transform: translateY(0)

  100%
    transform: translateY(-100%)

.header-nav-menu
  position: relative
  width: $content-desktop
  height: 100%
  margin: 0 auto

  ul
    height: 100%
    margin: 0
    padding: 0

  li
    float: left
    height: 100%
    margin: 0 1rem 0 0
    list-style-type: none

    &:hover
      color: $header-link-hover-color

    i
      padding-right: .15rem

    a
      display: block
      height: 100%
      padding: 0 .5rem
      border-bottom: 0
      line-height: $header-nav-height
      color: $header-link-color
      text-decoration: none
      transition: color .2s ease

      &:hover
        color: $header-link-hover-color

#header-info
  display: flex
  flex: 1
  flex-direction: column
  text-align: center

  // enable blur effect for site info
  if ($is-site-info-blur == true)
    position: absolute
    left: calc(50% - 300px)
    top: calc(50% - 150px)
    width: 600px
    height: 300px
    background: inherit
    overflow: hidden

    // blur effect
    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: 0 - $site-info-blur-radius
      background: inherit
      background-attachment: fixed
      filter: blur($site-info-blur)

    // background color for blur effect
    if ($is-site-info-blur-bg == true)
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgba(0, 0, 0, .1)

  .header-info-inner
    z-index: $z-index-4
    display: flex
    position: relative
    width: 100%
    height: 100%
    flex: 1
    flex-direction: column
    justify-content: center

    .site-info-title
      font-size: 2.5rem
      font-weight: $font-weight-bolder
      color: #f9f9f9

    .site-info-subtitle
      font-size: 2rem
      font-weight: $font-weight-bold
      color: #f9f9f9