#main
  margin-bottom: 3rem

#main-inner
  overflow: hidden
  margin: 0 auto
  max-width: $content-desktop

.content
  float: left
  width: $main-desktop
  font-size: $font-main-base

  img
    max-width: 100%
