setUlStyle(content, hoverColor)
  &::before
    content: content
    position: absolute
    top: 0
    left: -1.3em
    font-family: 'fontStun'
    font-size: 1em
    line-height: 2em
    color: $blue-light
    transition: color .2s ease

  &:hover
    &::before
      color: hoverColor

.main-content
  float: left
  border-radius: 5px
  padding: 2rem
  width: $main-desktop
  background-color: $white

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    cursor: pointer

    a
      border-bottom: 0
      text-decoration: none
      color: inherit

      &:hover
        color: inherit

    // Enable heading`s icon
    if ($icon-h-link is defined)
      position: relative
      transition: padding-left .3s ease

      &::before
        content: $icon-h-link
        display: block
        position: absolute
        top: 0
        left: 0
        height: 100%
        font-family: 'fontStun'
        line-height: $line-height-h
        color: $h-link-logo-color
        transition: color .3s ease

  for size in 1 .. 6
    h{size}
      if ($icon-h-link is defined)
        headingLeft(1.45 - .1 * size)

  ul,
  ol
    margin: 0
    padding-left: 2em

  li
    position: relative
    margin: .2em 0

    if ($icon-ul-list-1 is defined && ($icon-ul-list-2 is defined && ($icon-ul-list-3 is defined)))
      list-style-type: none

  ul
    li
      setUlStyle($icon-ul-list-1, #fc0)

      ul
        li
          setUlStyle($icon-ul-list-2, #fc0)

          ul
            li
              setUlStyle($icon-ul-list-3, #fc0)

  ol
    counter-reset: ol-li

    & > li
      margin: .4em 0

      &::before
        content: counter(ol-li, $icon-ol-list-style) '.'
        position: absolute
        left: -1.5em
        text-align: right
        color: $blue-light
        counter-increment: ol-li

  // Code in the post
  figure.highlight
    overflow-x: auto
    overflow-y: hidden
    position: relative
    margin: 1rem 0
    min-width: 100%
    background-color: #f7f7f7

    pre
      margin: 0
      font-family: $code-family

    --table-header-height = 1.5rem

    table
      border-spacing: 0
      position: relative
      padding: --table-header-height 0 0
      width: 100%

      &::before
        content: 'TODO'
        position: absolute
        top: 0
        left: 0
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        padding-left: 1rem
        width: 100%
        height: --table-header-height
        font-weight: $font-weight-bolder
        line-height: --table-header-height
        background-color: #eff2f3

      // The line number of code
      td.gutter
        border-bottom-left-radius: 3px
        padding: 0 .5rem
        width: 1rem
        line-height: $line-height-code-block
        text-align: center
        color: #b6b6b6
        background-color: #eff2f3

      // Code content
      td.code
        border-bottom-right-radius: 3px
        padding: .5rem
        line-height: $line-height-code-block

  blockquote
    margin: 0

    & > *
      margin-top: 0 !important

    & > *:last-child
      margin-bottom: 0 !important

    figure
      margin-top: 0 !important
      margin-bottom: 0 !important

    & + blockquote
      padding-top: 0

  & > :first-child
    margin-top: 0 !important

  & > :last-child
    margin-bottom: 0 !important

.archive
  float: left
  border-radius: 5px
  padding: 2rem
  width: $main-desktop
  background-color: $white

.archive-inner
  position: relative
  margin-left: 2rem

  &::before
    content: ''
    position: absolute
    top: .2rem
    left: -.1rem
    border-left: .2rem solid $blue-light
    height: calc(100% - 1rem)

.article-sort-title
  position: relative
  margin-bottom: 1.3rem
  padding-left: 1.4rem
  font-size: 1.2rem
  line-height: 1

  &::before
    content: ''
    position: absolute
    top: .1rem
    left: -.6rem
    z-index: $z-index-2
    border: .25rem solid $blue-light
    border-radius: 50%
    width: 1.2rem
    height: 1.2rem
    line-height: 1.2rem
    background-color: $white
    transition: all .2s ease

.article-sort-item
  position: relative
  margin-bottom: .8rem
  padding-left: 1.4rem

  h2
    display: inline-block
    margin: 0
    font-weight: $font-weight-normal

  &:last-child
    margin-bottom: 0

  &:not(.year):hover
    &::before
      border-color: $orange-dark

  &::before
    content: ''
    position: absolute
    top: calc(50% - .4rem)
    left: -.4rem
    z-index: $z-index-2
    border: .2rem solid $blue-light
    border-radius: 50%
    width: .8rem
    height: .8rem
    background-color: $white
    transition: all .2s ease

  &.year
    display: block
    position: relative
    margin-bottom: 1.3rem
    font-size: 1rem
    font-weight: $font-weight-bolder

  &__time
    margin-right: 1rem
    color: #99a9bf

  &__title
    border-bottom: 0
    font-size: .9rem
    text-decoration: none
    color: $font-color
    cursor: pointer

    &:hover
      border-bottom: 0
      color: $blue-light !important

.tag-cloud,
.category
  a
    margin: 0 .4rem
    border-bottom: 0
    text-decoration: none

    &:hover
      color: $link-hover-color !important

  &-title
    padding: 0 0 1.8rem
    font-size: 1.8rem
    text-align: center
    cursor: default

.tag-cloud
  text-align: center

.category
  font-size: 1.2em

  .category-list-link
    color: inherit

  .category-list-count
    padding-left: .3em
    font-size: .8em
    color: #99a9bf

    &::before
      content: '('

    &::after
      content: ')'

.about
  width: $main-desktop
