setUlStyle(content, hoverColor)
  &::before
    content: content
    position: absolute
    top: 0
    left: -1.3em
    font-family: $font-icon-family
    font-size: 1em
    line-height: 2em
    color: $ul-list-color
    transition: color .2s ease

  &:hover
    &::before
      color: hoverColor

.main-content
  float: left
  border-radius: 5px
  padding: 2rem
  width: $main-desktop
  font-size: $font-main-base is defined ? $font-main-base : $font-size-large
  background-color: $white

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    cursor: pointer

    a
      border-bottom: 0
      text-decoration: none
      color: inherit

      &:hover
        color: inherit

    // Enable heading`s icon
    if ($icon-h-link is defined)
      position: relative
      transition: padding-left .3s ease

      &::before
        content: $icon-h-link
        display: block
        position: absolute
        top: 0
        left: 0
        height: 100%
        font-family: $font-icon-family
        line-height: $line-height-h
        color: $h-link-logo-color
        transition: color .3s ease

  for size in 1 .. 6
    h{size}
      if ($icon-h-link is defined)
        headingLeft(1.45 - .1 * size)

  ul,
  ol
    margin: 0
    padding-left: 2em

  li
    position: relative
    margin: .2em 0

    if ($icon-ul-list-1 is defined && ($icon-ul-list-2 is defined && ($icon-ul-list-3 is defined)))
      list-style-type: none

  ul
    li
      setUlStyle($icon-ul-list-1, $ul-list-hover-color)

      ul
        li
          setUlStyle($icon-ul-list-2, $ul-list-hover-color)

          ul
            li
              setUlStyle($icon-ul-list-3, $ul-list-hover-color)

  ol
    counter-reset: ol-li

    & > li
      margin: .4em 0

      &::before
        content: counter(ol-li, $icon-ol-list-style) '.'
        position: absolute
        left: -1.5em
        text-align: right
        color: $blue-light
        counter-increment: ol-li

  // Code in the post
  figure.highlight
    overflow-x: auto
    overflow-y: hidden
    position: relative
    margin: 1rem 0
    min-width: 100%
    background-color: $code-block-bg-color

    pre
      margin: 0
      font-family: $code-font-family

    --table-header-height = 1.5rem

    table
      border-spacing: 0
      position: relative
      padding: --table-header-height 0 0
      width: 100%

      &::before
        content: 'TODO'
        position: absolute
        top: 0
        left: 0
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        padding-left: 1rem
        width: 100%
        height: --table-header-height
        font-weight: $font-weight-bolder
        line-height: --table-header-height
        background-color: $code-block-side-bg-color

      // The line number of code
      td.gutter
        border-bottom-left-radius: 3px
        padding: 0 .5rem
        width: 1rem
        line-height: $line-height-code-block
        text-align: center
        color: $code-block-side-color
        background-color: $code-block-side-bg-color

      // Code content
      td.code
        border-bottom-right-radius: 3px
        padding: .5rem
        line-height: $line-height-code-block

  blockquote
    margin: 0

    & > *
      margin-top: 0 !important

    & > *:last-child
      margin-bottom: 0 !important

    figure
      margin-top: 0 !important
      margin-bottom: 0 !important

    & + blockquote
      padding-top: 0

  & > :first-child
    margin-top: 0 !important

  & > :last-child
    margin-bottom: 0 !important

.archive
  float: left
  border-radius: 5px
  padding: 2rem
  width: $main-desktop
  background-color: $white

.archive-inner
  position: relative
  margin-left: 2rem

  &::before
    content: ''
    position: absolute
    top: $font-main-base is defined ? ($font-main-base) : 1rem
    bottom: $font-main-base is defined ? ($font-main-base) : 1rem
    left: 0
    border-left: .2rem solid $archives-left-line-color
    transform: translate(-50%, 0)

.article-sort-title
  position: relative
  margin-bottom: 1.3rem
  padding-left: 1.4rem
  font-size: $font-main-base is defined ? ($font-main-base * 1.4) : 1.2rem

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: $z-index-2
    border: .25rem solid $archives-left-dot-color
    border-radius: 50%
    width: 1rem
    height: 1rem
    line-height: 1.2rem
    background-color: $white
    transition: all .2s ease
    transform: translate(-50%, -50%)

.article-sort-item
  position: relative
  margin-bottom: .8rem
  padding-left: 1.4rem

  h2
    display: inline-block
    margin: 0
    font-weight: $font-weight-normal

  &:last-child
    margin-bottom: 0

  &:not(.year):hover
    &::before
      border-color: $archives-left-dot-hover-color

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: $z-index-2
    border: .15rem solid $archives-left-dot-color
    border-radius: 50%
    width: .6rem
    height: .6rem
    background-color: $white
    transition: all .2s ease
    transform: translate(-50%, -50%)

  &.year
    display: block
    position: relative
    font-size: $font-main-base is defined ? ($font-main-base * 1.2) : 1.2rem
    font-weight: $font-weight-bolder

  &__time
    margin-right: 1rem
    font-size: $font-main-base is defined ? ($font-main-base * .9) : .8rem
    color: $archives-right-time-color

  &__title > a
    border-bottom: 0
    font-size: $font-main-base is defined ? ($font-main-base * 1.2) : 1rem
    text-decoration: none
    color: $font-color
    cursor: pointer

    &:hover
      border-bottom: 0
      color: $blue-light !important

.tag-cloud,
.category
  a
    margin: 0 .4rem
    border-bottom: 0

  &-title
    padding: 0 0 1.8rem
    font-size: $font-main-base is defined ? ($font-main-base * 2) : 1.5rem
    text-align: center
    cursor: default

.tag-cloud
  text-align: center

  a
    &:hover
      color: $tags-hover-color !important

.category
  font-size: $font-main-base is defined ? ($font-main-base * 1.2) : 1.2em

  a
    color: $categories-link-color

    &:hover
      color: $categories-link-hover-color

  .category-list-item
    &::before
      color: $categories-list-dot-color

    &:hover
      &::before
        color: $categories-list-dot-hover-color

  .category-list-count
    padding-left: .3em
    font-size: $font-main-base is defined ? ($font-main-base * .8) : .8em
    color: $categories-post-count-color

    &::before
      content: '('

    &::after
      content: ')'

.about
  width: $main-desktop
