setUlStyle(content, hoverColor)
  &::before
    content: content
    position: absolute
    top: 0
    left: -1.3em
    font-family: $font-icon-family
    font-size: 1em
    line-height: 2em
    color: $ul-list-color
    transition: color .2s ease

  &:hover
    &::before
      color: hoverColor

headingLeft(fontsize)
  &:hover
    &:not(.post-title)::before
      margin-right: fontsize + 10px
      color: $h-link-logo-hover-color

if (hexo-config('text_vertical_align_with_img') == 'top')
  text_vertical_align_with_img = top
else if (hexo-config('text_vertical_align_with_img') == 'middle')
  text_vertical_align_with_img = middle
else
  text_vertical_align_with_img = bottom

$content-layout
  float: left
  border-radius: 5px
  padding: 2rem
  font-size: $font-main-base is defined ? $font-main-base : $font-size-large
  background-color: $white

  & > :first-child
    margin-top: 0

  & > :last-child
    margin-bottom: 0

.main-content-layout
  @extend $content-layout
  
.main-content
  @extend $content-layout

  li
    position: relative
    margin: .2em 0

    if ($icon-ul-list-1 is defined && ($icon-ul-list-2 is defined && ($icon-ul-list-3 is defined)))
      list-style-type: none

  h1, h2, h3, h4, h5, h6
    cursor: pointer

    if ($icon-h-link is defined)
      &:not(.post-title)::before
        content: $icon-h-link
        margin-right: 10px
        height: 100%
        font-family: $font-icon-family
        line-height: $line-height-h
        color: $h-link-logo-color
        transition: margin .3s ease

  for size in 1 .. 6
    h{size}
      if ($icon-h-link is defined)
        headingLeft(10px - size * .5)

  img
    max-width: 100%
    vertical-align: text_vertical_align_with_img

  ul,
  ol
    margin: .5rem 0
    padding-left: 2em

  ul
    li
      setUlStyle($icon-ul-list-1, $ul-list-hover-color)

      ul
        li
          setUlStyle($icon-ul-list-2, $ul-list-hover-color)

          ul
            li
              setUlStyle($icon-ul-list-3, $ul-list-hover-color)

  li
    position: relative
    margin: .2em 0

    if ($icon-ul-list-1 is defined && ($icon-ul-list-2 is defined && ($icon-ul-list-3 is defined)))
      list-style-type: none

  ol
    counter-reset: ol-li

    & > li
      margin: .4em 0

      &::before
        content: counter(ol-li, $icon-ol-list-style) '.'
        position: absolute
        left: -1.5em
        text-align: right
        color: $blue-light
        counter-increment: ol-li

  blockquote
    margin: 0 0 1rem

    & > :first-child
      margin-top: 0

    & > :last-child
      margin-bottom: 0

    & + blockquote
      padding-top: 0

    figure
      margin-top: 0
      margin-bottom: 0
    
    cite
      &::before
        content: '--'
        padding: 0 .2em
  
  table
    border-spacing: 0
    border-collapse: collapse
    margin: 0 auto 1rem auto
    min-width: 100%

    th,
    td
      border: 1px solid #eee

.archive
  float: left
  border-radius: 5px
  padding: 2rem
  width: $main-desktop
  background-color: $white

.archive-inner,
.tag-inner
  position: relative
  margin-left: 2rem

  &::before
    content: ''
    position: absolute
    top: $font-main-base is defined ? ($font-main-base) : 1rem
    bottom: $font-main-base is defined ? ($font-main-base) : 1rem
    left: 0
    border-left: .2rem solid $archives-left-line-color
    transform: translate(-50%, 0)

.article-sort-title
  position: relative
  margin-bottom: 1.3rem
  padding-left: 1.4rem
  font-size: $font-main-base is defined ? ($font-main-base * 1.4) : 1.2rem

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: $z-index-2
    border: .25rem solid $archives-left-dot-color
    border-radius: 50%
    width: 1rem
    height: 1rem
    line-height: 1.2rem
    background-color: $white
    transition: all .2s ease
    transform: translate(-50%, -50%)

.article-sort-item
  position: relative
  margin-bottom: .8rem
  padding-left: 1.4rem
  display: flex
  align-items: center
  
  h2
    margin: 0
    font-weight: $font-weight-normal
    line-height: $line-height-h

  &:last-child
    margin-bottom: 0

  &:not(.year):hover
    &::before
      border-color: $archives-left-dot-hover-color

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: $z-index-2
    border: .15rem solid $archives-left-dot-color
    border-radius: 50%
    width: .6rem
    height: .6rem
    background-color: $white
    transition: all .2s ease
    transform: translate(-50%, -50%)

  &.year
    display: block
    position: relative
    font-size: $font-main-base is defined ? ($font-main-base * 1.2) : 1.2rem
    font-weight: $font-weight-bolder

  &__time
    margin-right: 1rem
    font-size: $font-main-base is defined ? ($font-main-base * .9) : .8rem
    color: $archives-right-time-color
    transform: translate(0, 8%)

  &__title a
    border-bottom: 0
    font-size: $font-main-base is defined ? ($font-main-base * 1.2) : 1rem
    text-decoration: none
    color: $font-color
    cursor: pointer

    &:hover
      border-bottom: 0
      color: $blue-light !important

.tag-cloud,
.category
  a
    margin: 0 .4rem
    border-bottom: 0

  &-title
    padding: 0 0 1.8rem
    font-size: $font-main-base is defined ? ($font-main-base * 2) : 1.5rem
    text-align: center
    cursor: default

.tag-cloud
  text-align: center

  a
    &:hover
      color: $tags-hover-color !important

.category
  font-size: $font-main-base is defined ? ($font-main-base * 1.2) : 1.2em

  a
    color: $categories-link-color

    &:hover
      color: $categories-link-hover-color

  .category-list-item
    &::before
      color: $categories-list-dot-color

    &:hover
      &::before
        color: $categories-list-dot-hover-color

  .category-list-count
    padding-left: .3em
    font-size: $font-main-base is defined ? ($font-main-base * .8) : .8em
    color: $categories-post-count-color

    &::before
      content: '('

    &::after
      content: ')'

.about
  width: $main-desktop
