#paginator
  width: 100%
  margin-top: 1em
  text-align: center
  font-size: 1.2em
  overflow: hidden

  .paginator-inner
    border-radius: 5px
    padding: .7em 0
    background-color: $white

  a
    height: 100%
    border-bottom: 0
    font-family: 'fontStun'
    color: alpha($blue-light, .9)
    transition: all .2s ease

    &:hover
      color: $link-hover-color
  
  a.page-number
    &:hover
      color: $white-light 
      background-color: $blue-light

  .space,
  .page-number
    display: inline-block
    width: 1.5em
    height: 1.5em
    line-height: 1.5em
    vertical-align: middle
    border-radius: 3px
  
  .page-number
    margin: 0 .5em

  .space
    margin: 0 .2em

  .current
    color: $white-light
    background-color: $blue-light

  .icon-left-arrow,
  .icon-right-arrow
    font-family: 'fontStun'
    font-style: normal

  a.prev
    margin-right: 1em
  a.next
    margin-left: 1em

  .icon-left-arrow
    &::before
      content: $icon-prev
  .icon-right-arrow
    &::after
      content: $icon-next

  .post-paginator
    padding-top: 2em
    border-top: 1px solid #e8e8e8
    overflow: hidden

  .article-prev,
  .article-next
    color: alpha($font-color, .8)

    a
      color: inherit

      &:hover
        color: $link-hover-color
    
  .article-prev
    a
      &::before
        margin-right: .5em
        content: $icon-prev

  .article-next
    a
      &::after
        margin-left: .5em
        content: $icon-next

  .pull-left
    float: left
  .pull-right
    float: right
