.post-header
  padding: 0 0 3rem
  text-align: center

  .post-title
    margin: 0
    padding-left: 0
    font-size: 2rem
    color: $post-info-title-color
    cursor: default

    &::before
      content: ''

    &:hover
      padding-left: 0

  .post-meta
    *::before,
    *::after
      margin-right: .2rem
      font-family: 'fontStun'

    &-create,
    &-word,
    &-read
      margin-right: .2rem

    .dot
      margin: 0 .5rem
      color: #666

    &-create
      color: $post-info-create-color

      &::before
        content: $icon-post-create-before

    &-word
      color: $post-info-word-count-color

      &::before
        content: $icon-post-word-before

    &-read
      color: $post-info-read-count-color

      &::before
        content: $icon-post-read-before

      &::after
        content: $icon-post-read-after
