.post-header
  padding: 0 0 3rem
  text-align: center

  .post-title
    margin: 0
    padding-left: 0
    font-size: $font-post-title is defined ? $font-post-title : 2rem
    color: $post-info-title-color
    cursor: default

    &::before
      content: ''

    &:hover
      padding-left: 0

  .post-meta
    *::before,
    *::after
      margin-right: .2rem
      font-family: $font-icon-family

    &-create,
    &-word,
    &-read
      margin-right: .2rem

    .dot
      margin: 0 .5rem
      color: #666

    &-create
      color: $post-info-create-color

      &::before
        content: $icon-post-create-before

    &-word
      color: $post-info-word-count-color

      &::before
        content: $icon-post-word-before

    &-read
      color: $post-info-read-count-color

      &::before
        content: $icon-post-read-before

      &::after
        content: $icon-post-read-after

.post-footer
  &-copyright
    margin-bottom: 1rem
    border: 1px solid #e6e6e6
    border-radius: 2px
    padding: .8rem 1rem
    width: 100%
    transition: box-shadow .2s

    &:hover
      box-shadow: 0 0 4px 4px #f5f5f5

    .copyright-name
      margin-right: .5rem
      font-weight: $font-weight-bold

    .copyright-value
      color: $font-color

  &-tags
    margin-bottom: 1rem
    
    &::before
      content: $nav-tag-2
      margin-left: 3px
      font-family: $font-icon-family
      color: $post-tags-icon-color

    span
      margin: 0 .5rem
