.footer-inner {
  padding: 1rem;
  font-size: $font-size-footer;
  text-align: center;
  color: $footer-text-color;
  background-color: $footer-bg-color;

  if (hexo-config('footer.bg_image.enable')) {
    background: url(hexo-config('footer.bg_image.url')) no-repeat center center;
    background-size: cover;
  }

  a {
    color: $footer-link-color;
    transition-property: color;
    transition-ease();

    &:hover {
      color: $footer-link-hover-color;
    }
  }

  .separator {
    margin: 0 .5rem;
  }

  .footer-icon {
    margin: 0 .2rem;
    font-size: .9em;
    color: convert(hexo-config('footer.icon.color') || '#ff0000');

    if (hexo-config('footer.icon.animation')) {
      animation: footer-heart-beat 1.2s infinite;
    }
  }
}
