::selection
  background: $selection-bg
  color: $selection-color

*,
*::before,
*::after
  box-sizing: border-box

*
  margin: 0 
  padding: 0

html
  line-height: 100%
  font-size: $font-size-larger

body
  position: relative
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height-base
  color: $font-color
  background-color $body-bg-color

h1, h2, h3, h4, h5, h6
  position: relative
  margin: 1.5rem 0 1rem 0
  line-height: $line-height-h
  font-weight: $font-weight-bolder
  color: lighten($h-color, 15%)

for size in (1..6)
  h{size}
    font-size: $h-font-size-base - $h-font-size-step * size

p
  margin: 0 0 .5rem 0

a
  outline: none
  border-bottom: 1px solid $link-bottom-color
  color: $link-color
  text-decoration: none
  cursor: pointer
  transition: .3s all ease

  &:hover
    border-bottom: 1px solid $link-bottom-hover-color
    color: $link-hover-color

img
  display: block
  border-radius: 3px
  if ($img-border-width != 0)
    border: $img-border-width solid $img-border-color
    padding: 6px
  vertical-align: middle

hr
  position: relative
  margin: 1rem 0
  width: calc(100% - 1.5rem)
  height: 0
  border: 0
  border-bottom: 3px dashed $hr-color
  background-color: #fff

  &::after
    content: '\f0fb'
    display: block
    position: absolute
    top: calc(50% - 1rem + .5px)
    right: -1.5rem
    width: 1.5rem
    height: 2rem
    line-height: 2rem
    font-family: 'fontStun'
    font-size: 26px
    color: $hr-plane-color

blockquote
  padding: .5rem 1rem
  background-color: $quote-bg-color
  border-left: 5px solid $quote-left-color

code
  border-radius: 3px
  padding: 2px 4px
  color: $code-color
  background-color $code-bg-color
  font-family: $code-family
  font-size: .94em
  word-wrap: break-word;
