::selection
  color: $selection-color
  background: $selection-bg

:root
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

html
  font-size: $font-size-rem
  line-height: 100%

body
  position: relative
  margin: 0
  font-family: $font-family
  font-size: $font-size-base
  line-height: $line-height-base
  color: $font-color
  background-color: $body-bg-color

a
  border-bottom: 1px solid $link-bottom-color
  text-decoration: none
  color: $link-color
  outline: none
  transition: .2s all ease
  cursor: pointer

  &:hover
    border-bottom: 1px solid $link-bottom-hover-color
    color: $link-hover-color

img
  border-radius: 3px

  if ($img-border-width != 0)
    border: $img-border-width solid $img-border-color
    padding: .3rem

input[type='checkbox']
  width: 1em
  height: 1em
  font-size: 1em
  vertical-align: middle

hr
  position: relative
  margin: 1rem 0
  border: 2px dashed $hr-color
  width: $icon-hr is defined ? calc(100% - 1.5rem) : 100%
  height: 0

  &::after
    content: $icon-hr
    display: block
    position: absolute
    top: 50%
    right: -1.5rem
    width: 1.5rem
    font-size: 24px
    color: $hr-icon-color
    transform: translateY(-50% - 4px)
    @extend $font-face-awesome

blockquote
  border-left: 5px solid $quote-left-color
  padding: .5rem 1rem
  background-color: $quote-bg-color

code
  border-radius: 3px
  padding: 0 .3em
  font-family: $code-font-family
  font-size: .94em
  word-wrap: break-word
  color: $code-color
  background-color: $code-bg-color

table
  border-spacing: 0
  border-collapse: collapse
  min-width: 100%

  th,
  td
    border: 1px solid #eee
