@font-face
  font-family: 'fontStun'
  src: url('../../fonts/font.woff') format('woff')
  font-weight: normal
  font-style: normal

[class^='icon-']::before,
[class*=' icon-']::before
  display: inline-block
  font-family: 'fontStun'
  font-style: normal
  font-weight: normal
  speak: none
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal
  text-transform: none
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Link
// -------------------------------------------
.icon-twitter::before
  content: '\f099'

.icon-github::before
  content: '\f09b'

.icon-weibo::before
  content: '\f18a'

.icon-wechat::before
  content: '\f1d7'

.icon-qq::before
  content: '\f1d6'

.icon-mail::before
  content: '\f0e0'

.icon-telegram::before
  content: '\f1d8'

.icon-rss::before
  content: '\f09e'

// Others
// -------------------------------------------
.icon-menu::before
  content: '\f0c9'

.icon-cc::before
  content: '\f20a'

.icon-copy::before
  content: '\f1c9'

.icon-back-top::before
  content: '\f135'
