@font-face
  font-family: $font-icon-family
  font-weight: normal
  font-style: normal
  src: url('../../fonts/font.woff') format('woff')

[class^='icon-']::before,
[class*=' icon-']::before
  display: inline-block
  width: 1em
  font-family: $font-icon-family
  font-weight: normal
  font-style: normal
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em
  text-align: center
  text-decoration: inherit
  text-transform: none
  speak: none
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Link
// -------------------------------------------
.icon-github::before
  content: '\f09b'

.icon-segmentfault::before
  content: 'sf'

.icon-twitter::before
  content: '\f099'

.icon-weibo::before
  content: '\f18a'

.icon-wechat::before
  content: '\f1d7'

.icon-qq::before
  content: '\f1d6'

.icon-email::before
  content: '\f0e0'

.icon-telegram::before
  content: '\f1d8'

.icon-rss::before
  content: '\f09e'

// Others
// -------------------------------------------
.icon-cc::before
  content: '\f20a'

.icon-copy::before
  content: '\f1c9'

.icon-back-top::before
  content: '\f135'
