html::-webkit-scrollbar
  width: 10px

.sidebar-toc::-webkit-scrollbar
  width: 4px

::-webkit-scrollbar-track
  background-color: #fff

::-webkit-scrollbar-thumb
  background-color: rgba(0, 0, 0, .2)

::-webkit-scrollbar-thumb:hover
  background-color: rgba(0, 0, 0, .3)

::-webkit-scrollbar-thumb:window-inactive
  background-color: #a0daff
