- var scriptSrc = `https://www.googletagmanager.com/gtag/js?id=${theme.google_analytics}`;

script(src=scriptSrc async='')&attributes(dataPjax)
script&attributes(dataPjax).
  if (window.location.hostname !== 'localhost') {
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '!{ theme.google_analytics }');
  }
