div.card-widget.card-announcement
  div.item-headline
    i.fas.fa-bullhorn.card-announcement-animation.card-announcement-icon
    span= __('sidebar.card_announcement')
  div#announcement_content!= theme.sidebar.card_announcement.content