div.card-widget.card-newest-comments
  div.item-headline
    i.fas.fa-comment-dots
    span= __('sidebar.card_newest_comments.title')
  div#newest-comments-list
    span= __('sidebar.card_newest_comments.loading')