if theme.sidebar.card_info.enable
  include ./card_info.pug
if theme.sidebar.card_announcement.enable
  include ./card_announcement.pug
if theme.sidebar.card_newest_comment.enable
  include ./card_newest_comment.pug