.archive {
  position: relative;
  margin: 0 0 0 1rem;

  &::before {
    content: '';
    position: absolute;
    top: $font-size-main;
    bottom: $font-size-main;
    left: 0;
    border-left: .3rem dashed $post-list-line-color;
    transform: translateX(-50%);
  }

  &-total {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.2em;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: $z-index0;
      border: .2rem solid $post-list-dot-color;
      border-radius: 50%;
      width: .9rem;
      height: .9rem;
      background-color: $white;
      transform: translate(-50%, -50%);
    }

    &:hover {
      &::before {
        border-color: $post-list-dot-hover-color;
      }
    }
  }
}

.tagcloud,
.category {
  &-total {
    font-size: $font-size-base + 10px;
    text-align: center;
    cursor: default;
  }
}

.tagcloud {
  text-align: center;

  &-item {
    a {
      margin: 0 .4rem;
      transition-property: color;
      transition-ease();

      &:hover {
        color: $tag-hover-color !important;
      }
    }
  }
}

.category {
  &-list {
    &-item {
      &::before {
        color: $category-list-dot-color;
      }

      &:hover {
        &::before {
          color: $category-list-dot-hover-color;
        }
      }
    }

    &-link {
      font-size: $font-size-main + 2px;
      color: $category-link-color;
      transition-property: color;
      transition-ease();

      &:hover {
        color: $category-link-hover-color;
      }
    }

    &-count {
      margin-left: .3em;
      font-size: $font-size-base - 1px;
      color: $category-post-count-color;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
}

.single-category,
.single-tag {
  &-name {
    font-size: $font-size-base + 10px;
    text-align: center;
    cursor: default;

    & > span:last-child {
      color: $blue-light;
    }
  }
}
