.archive {
  position: relative;
  margin-left: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: $font-size-main;
    bottom: $font-size-main;
    left: 0;
    border-left: .3rem solid $archive-timeline-line-color;
    transform: translateX(-50%);
  }

  &-total {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.2em;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: $z-index0;
      border: .2rem solid $archive-timeline-dot-color;
      border-radius: 50%;
      width: .9rem;
      height: .9rem;
      background-color: $white;
      transform: translate(-50%, -50%);
    }
  }

  &-post-item {
    display: block;
    position: relative;
    margin-bottom: .8rem;
    padding-left: 1.5rem;
    width: 100%;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: $z-index0;
      border: .15rem solid $archive-timeline-dot-color;
      border-radius: 50%;
      width: .6rem;
      height: .6rem;
      background-color: $white;
      transition-property: border-color;
      transition-ease();
      transform: translate(-50%, -50%);
    }

    &:hover {
      &::before {
        border-color: $archive-timeline-dot-hover-color;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.year {
      font-weight: $font-weight-bolder;
    }

    &__time {
      display: inline-block;
      padding-right: 1rem;
      width: 3rem;
      vertical-align: middle;
      color: $archive-timeline-time-color;
      transform: translateY(3%);
    }

    &-title {
      display: inline-block;
      margin: 0;
      width: calc(100% - 4.5rem);
      font-size: $font-size-main + 2px;
      font-weight: normal;
      vertical-align: middle;

      &__a {
        color: $font-color;
        transition-property: color;
        transition-ease();

        &:hover {
          color: $blue-light;
        }
      }
    }
  }
}

.tagcloud,
.category {
  &-title {
    font-size: $font-size-base + 10px;
    text-align: center;
    cursor: default;
  }
}

.tagcloud {
  text-align: center;

  &-item a {
    margin: 0 .4rem;
    transition-property: color;
    transition-ease();

    &:hover {
      color: $tag-hover-color !important;
    }
  }
}

.category {
  &-list-item a {
    color: $category-link-color;

    &:hover {
      color: $category-link-hover-color;
    }
  }

  &-list {
    margin-top: 0 !important;

    &-item {
      &::before {
        color: $category-list-dot-color;
      }

      &:hover {
        &::before {
          color: $category-list-dot-hover-color;
        }
      }
    }

    &-link {
      transition-property: color;
      transition-ease();
    }

    &-count {
      margin-left: .3em;
      font-size: $font-size-base - 1px;
      color: $category-post-count-color;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
}
